.section {
    height: auto;
    width: 100vw !important;
    padding-bottom: 50px !important;
}

.odd {
    background-color: #F0F0F0;
}

.even {
    background-color: #ffffff;
}

.odd.banner.section {
    background-image: url("/static/intro/image/banner-background.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 15;
}

.banner.text.image.bidi {
    height: 100vh;
    z-index: 1;
}

.banner.text.image {
    height: 100vh;
    z-index: 1;
}

.section.header {
    height: auto !important;
    text-align: center;
    z-index: -1;
}

#history-text, history-video {

}

#video {
    -webkit-clip-path: inset(0 45px 0 45px);
    clip-path: inset(0 45px 0 45px);
}