/*.headerImage {*/
/*background: url("/static/intro/image/header.jpg") !important;*/
/*height: 100vh;*/

/*background-size: auto;*/
/*}*/
* {
    padding: 0;
    margin: 0 !important;
}
.masthead {
    height: 100vh !important;
    background: url("/static/intro/image/header.jpg") no-repeat !important;
    background-size: cover !important;

}