.section{
    height: 105vh !important;
    width: 100vw !important;
    padding-top: 15vh;
}

.section.masthead {
    background: url("/static/intro/image/header.jpg") no-repeat !important;
    background-size: 100% 100% !important;
}

@media screen and (max-width: 780px) {
    .masthead {
        height: 100vh !important;
        width: 100vw !important;
        background: url("/static/intro/image/Mobile_header.jpg") no-repeat !important;
        background-size: 100% 100% !important;
    }
}

.section.gameInfo {
    background-color: #ffbe4c;
}

.section.gameInfo .row {
    height: 50vh;
}

.section.prizes {
    background: linear-gradient(to right, #d7ddd7, white ,#d7ddd7);
}

.section.prizes #prize-grid {
    height: inherit;
}

.section.prizes #prize-grid .row{
    padding-left: 30px;
    padding-right: 30px;
}

.section.schedule {
    background-color: #ffbe4c;
    padding-left: 50px;
    padding-right: 50px;
}

.section.organization {
    background: linear-gradient(to right, #d7ddd7, white ,#d7ddd7);
}

.section.organization .column {
    padding-top: 5vh;
}
