{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block meta_title %}{% trans 'Bank payment' %}{% endblock %}
{% block title %}{% trans 'Bank payment' %}{% endblock %}
{% block extra_head %}
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col s12 m12 l8 offset-l2">
            <div class="card-panel">
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                <p >{{ participation.team.name }}</p>
                <div >

                    <div >

                        <form method="post" action="" class="ui form">
                            {% csrf_token %}
                            {{ form }}
                            <div class="center-align">
                                <p class="text muted text-muted">
                                مبلغ قابل پرداخت (برای کل تیم): <span class="text-info">{{ participation.challenge.entrance_price }} ﷼</span>
                                    </p>
                                <button type="submit" class="btn waves-effect">
                                    تکمیل مشخصات و پرداخت
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}