{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block meta_title %}{% trans 'Bank payment' %}{% endblock %}
{% block title %}{% trans 'Bank payment' %}{% endblock %}
{% block extra_head %}
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col s12 m12 l8 offset-l2">
            <div class="card-panel">
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                <p class="muted">{{ team.name }}</p>

                <div>پرداخت شما با موفقیت انجام شد. بعد از ۵ ثانیه به صفحه‌ی تیم خود هدایت خواهید شد.</div>

                <script type="text/javascript">
                    setTimeout(function () {
                        window.location = '{% url 'accounts:panel' %}'
                    }, 5000);
                </script>
            </div>
        </div>
    </div>
{% endblock %}