#bracket_1 .round {
  float: left;
}
#bracket_1 .round.layer1 {

}
#bracket_1 .round.layer2 {
  margin-top: 24px;
}

#bracket_1 .round.layer3 {
  margin-top: 77px;
}

#bracket_1 .round.layer4 {
  margin-top: 182px;
}

#bracket_1 .round.layer5 {
  margin-top: 390px;
}

/******/

#bracket_1 .layer2_top_space{
    margin-top: 62px;
}
#bracket_1 .layer2_connector_space{
    margin-top: 44px;
}
#bracket_1 .layer3_top_space{
    margin-top: 166px;
}
#bracket_1 .layer3_connector_space{
    margin-top: 96px;
}

#bracket_1 .layer4_top_space{
    margin-top: 375px;
}
#bracket_1 .layer4_connector_space{
    margin-top: 200px;
}

#bracket_1 .layer5_top_space{
    margin-top: 100px;
}
#bracket_1 .layer5_connector_space{
    margin-top: 400px;
}


#bracket_1 .connectors.layer2 .top-line {
  position: relative;
  top: 30px;
  width: 17px;
  border: 1px solid #AAA;
}
#bracket_1 .connectors.layer2 .bottom-line {
  position: relative;
  top: 80px;
  width: 17px;
  border: 1px solid #AAA;
}
#bracket_1 .connectors.layer2 .vert-line {
  position: relative;
  top: 26px;
  left: -16px;
  height: 54px;
  border-right: 2px solid #AAA;
}
#bracket_1 .connectors.layer2 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}


#bracket_1 .connectors.layer3 .top-line {
  position: relative;
  top: 54px;
  width: 17px;
  border: 1px solid #AAA;
}
#bracket_1 .connectors.layer3 .bottom-line {
  position: relative;
  top: 156px;
  width: 17px;
  border: 1px solid #AAA;
}
#bracket_1 .connectors.layer3 .vert-line {
  position: relative;
  top: 50px;
  left: -16px;
  height: 106px;
  border-right: 2px solid #AAA;
}
#bracket_1 .connectors.layer3 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}

#bracket_1 .connectors.layer4 .top-line {
  position: relative;
  top: 105px;
  width: 17px;
  border: 1px solid #AAA;
}
#bracket_1 .connectors.layer4 .bottom-line {
  position: relative;
  top: 312px;
  width: 17px;
  border: 1px solid #AAA;
}
#bracket_1 .connectors.layer4 .vert-line {
  position: relative;
  top: 101px;
  left: -16px;
  height: 211px;
  border-right: 2px solid #AAA;
}
#bracket_1 .connectors.layer4 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}

#bracket_1 .connectors.layer5 .top-line {
  position: relative;
  top: 211px;
  width: 17px;
  border: 1px solid #AAA;
}
#bracket_1 .connectors.layer5 .bottom-line {
  position: relative;
  top: 626px;
  width: 17px;
  border: 1px solid #AAA;
}
#bracket_1 .connectors.layer5 .vert-line {
  position: relative;
  top: 207px;
  left: -16px;
  height: 419px;
  border-right: 2px solid #AAA;
}
#bracket_1 .connectors.layer5 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}

/*****/

#bracket_1 .clear {
  clear: both;
}