.round {
  float: left;
}
.round.loser_layer_1 {
    margin-top: 13px;
}
.round.loser_layer_2 {
    margin-top: 2px;
}

.round.loser_layer_3 {
  margin-top: 25px;
}

.round.loser_layer_4 {
  margin-top: 15px;
}

.round.loser_layer_5 {
  margin-top: 77px;
}

.round.loser_layer_6 {
  margin-top: 66px;
}

.round.loser_layer_7 {
  margin-top: 181px;
}

.round.loser_layer_8 {
  margin-top: 170px;
}

/******/

.loser_layer2_top_space{
    margin-top: 62px;
}
.loser_layer2_connector_space{
    margin-top: 50px;
}
.loser_layer3_top_space{
    margin-top: 62px;
}
.loser_layer3_connector_space{
    margin-top: 44px;
}

.loser_layer4_top_space{
    margin-top: 62px;
}
.loser_layer4_connector_space{
    margin-top: 102px;
}

.loser_layer5_top_space{
    margin-top: 166px;
}
.loser_layer5_connector_space{
    margin-top: 96px;
}

.loser_layer6_top_space{
    margin-top: 166px;
}
.loser_layer6_connector_space{
    margin-top: 206px;
}

.loser_layer7_top_space{
    margin-top: 166px;
}
.loser_layer7_connector_space{
    margin-top: 206px;
}

.connectors.loser_layer_2 .top-line {
  position: relative;
  top: 42px;
  width: 34px;
  border: 1px solid #AAA;
}
/* .connectors.loser_layer_2 .bottom-line {
  position: relative;
  top: 80px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.loser_layer_2 .vert-line {
  position: relative;
  top: 26px;
  left: -16px;
  height: 54px;
  border-right: 2px solid #AAA;
}
.connectors.loser_layer_2 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
} */


.connectors.loser_layer_3 .top-line {
  position: relative;
  top: 31px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.loser_layer_3 .bottom-line {
  position: relative;
  top: 81px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.loser_layer_3 .vert-line {
  position: relative;
  top: 27px;
  left: -16px;
  height: 54px;
  border-right: 2px solid #AAA;
}
.connectors.loser_layer_3 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}

.connectors.loser_layer_4 .top-line {
  position: relative;
  top: 54px;
  width: 34px;
  border: 1px solid #AAA;
}
/* .connectors.loser_layer_4 .bottom-line {
  position: relative;
  top: 305px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.loser_layer_4 .vert-line {
  position: relative;
  top: 101px;
  left: -16px;
  height: 204px;
  border-right: 2px solid #AAA;
}
.connectors.loser_layer_4 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
} */

.connectors.loser_layer_5 .top-line {
  position: relative;
  top: 44px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.loser_layer_5 .bottom-line {
  position: relative;
  top: 146px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.loser_layer_5 .vert-line {
  position: relative;
  top: 40px;
  left: -16px;
  height: 106px;
  border-right: 2px solid #AAA;
}
.connectors.loser_layer_5 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}

.connectors.loser_layer_6 .top-line {
  position: relative;
  top: 106px;
  width: 34px;
  border: 1px solid #AAA;
}
/*
.connectors.loser_layer_6 .bottom-line {
  position: relative;
  top: 305px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.loser_layer_6 .vert-line {
  position: relative;
  top: 101px;
  left: -16px;
  height: 204px;
  border-right: 2px solid #AAA;
}
.connectors.loser_layer_6 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}
*/

.connectors.loser_layer_7 .top-line {
  position: relative;
  top: 95px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.loser_layer_7 .bottom-line {
  position: relative;
  top: 301px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.loser_layer_7 .vert-line {
  position: relative;
  top: 91px;
  left: -16px;
  height: 210px;
  border-right: 2px solid #AAA;
}
.connectors.loser_layer_7 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
}

.connectors.loser_layer_8 .top-line {
  position: relative;
  top: 210px;
  width: 34px;
  border: 1px solid #AAA;
}
/* .connectors.loser_layer_8 .bottom-line {
  position: relative;
  top: 301px;
  width: 17px;
  border: 1px solid #AAA;
}
.connectors.loser_layer_8 .vert-line {
  position: relative;
  top: 91px;
  left: -16px;
  height: 210px;
  border-right: 2px solid #AAA;
}
.connectors.loser_layer_8 .next-line {
  position: relative;
  top: -4px;
  left: 17px;
  width: 17px;
  border: 1px solid #AAA;
} */


/*****/

.clear {
  clear: both;
}
