language: python

python:
  - 3.6
install:
  - pip install -r requirements/base.txt
script:
  - pytest

branches:
  only:
  - master
  - travis_integration

env:
  global:
  - secure: jlMwMsBh/ThdwUVR6Gr62kD2Kt9S0vMAXHfuXAxo4aDowJF6Hdz3G2UnsianGqfDwO/UFfKAsBvJwVZ8MbsBrU39fOYvOYLqKkJJmRZWlxpDUqEoVzuQGE7ws8cj2e3N0F6itPps4pZtXLU6RGXisYuACMwrmWzbkiN1S3PUQU2t5sIGyIc3mkrmvN49m0w3HcSi7IJYu2E1YPETQiq7VvX6jDP/u1C/Vfn/aYcyqI+CN+gR0IJGT71JByOnH6TInuBQsxSyH4d8Rp7RtpQ82Px65j6DGQgVirVGxmCVE2gz6YKvjAewQ9RPzn0+i2rm2W10IvYZVHzudYX3tcifmm/8VAAN2BlINwmmWJUsINcjyOBz0Zopj54MKgJLaaSAd8qZSV6dEBcnoN5kqGo4BonagS8e7dT/Rx06QfmD0NvZ22glXPBTQT4D6xirs/R6cAt6iWHa4YWJKO3XLRnbQy57FwNp44bT6tlgZbJrzBsFMcQ+UsUcIlrwNOnwlGeAAZlfhZQWDTyp8lhI7xXk7/U+T0QHH3/XusmIXX/5tXHScYqpSEBuC68G3U2VR7ci25W2mkvRbU3lxWOwmTBl/clHS11QP8PyZtyzg4KPvR0dBWWC6oUnmrkxgVELl8BVmYJfid593WMHZL6QhTlDxCxNCuRUtCod8f6v/QI96gk=
  - secure: mQhFCpgsJd5bYzWvZm3gaK1+d/sVLXb01tSzUMEz43SQ3eRaDFIQTCRvThbpw2+hPe560Dcl+Hhni9gKeGUEI1n5L5/k+APsdYM1hAgaPgqquDTXhXG7QmXdB0UjdyrKrrjBAJJenT8ELapbaNkeC2HBcdgACITFLyLsbhAXENrINyku6qkQbqd+SvGqULrjUNFYW1wTaKaCF1Cxhw+Ea+HfJu9w+J+ENmgT9riJQDNMxIjz3eRH/+6+ZPK9Ox2MI+56vEQYEuQRaBygsvTwMyGlVWDUhDpvJtUJJmBPsa+qP9UNRLILJtO0Mcve0beNwocxcv8zZx1kgBoOHMD4YvGZHuN51ecBcTpPBd3q9QDNtZ+xOqN3VrCl8hfzpTfwhGffz9lQEui02gjBo/XiJh9KnUsrsoOdqcBOZRTIALG8tT/s+4oOaPZATN2yl1C2pARgo5jm7rOPZ5MFfdQXLT1fFPFGk5N+/je1nGC0oIGsC0QK1u90/S3ojly9Qhw1CWVAIQVia0+R/+J9k+9lpgcKygCPAcIUIcEC7xEgip5yfbGBP3vt9mVmneUfHOfSzyFNP1o+SBTJgh8T7MIuEJ17dt/VyRmmiiO0GrGXbeNAIZ+wA3Jsk0aIq8SakVONVcD0XngjCqtyBBe9Ax1f6RL8iTZ0PN7d/Wuth4QZ0Es=
  - secure: qAg02165WSLAJHPJrPOR6NnCfAVX8yLrHhdECn+lPg8yOBZvpWANlZwmuuZy3Z2nOD39x0zAhbPjvuLj4ok32MpS/IMqcCmAT7A6wjbzhgnvExWImTYsG/VokSzrBy3pFv5GjDwkChrYVqcj9b13zrznycNOJbOcRE+x+RoCENUUy+vXq+/FrLHGkC3NhADg6IJrTDAUQR20rDb8hMnRl078142Wow0jY34OnHobojWZaex2ay9Lssi2LG6PheE6nd26rvZm/+tQu/T/eSHbhsmQp+e+aaFLAiU3c0n0EGWO/ublYbAFVrjSVyqxLD8noPaggq0NYKyCD0g2zdR6PUQXcNnzRFCVB/heK3EFMB9Nie2vFVWN9ySto88PIIMbt9xFmU1Qi+mQCaNUgmyVOaRiGQDTKzlSVBtkk/7H5v46XfkGM8jPzxhMCu4qeNPE7H29bCt9ZxSSnK8aOHopGbvL+m1EMIB+NvsrNz77qWKuZkjzP2WlPme3tVLptWMCUT5jRShev5dCaN2jbCJSiAljJoBtfQp9cKfEXsImlQzeQlxtz/TPZzrPp0C81WG04wDhzQq3ALC1oCV6jGJdEN3KvMq0LdGh7aWRyalCAy2DXUgBXt861iqfN6eFGb3YGdZkD9y0FlSVcxdn7klXebl5YQ4vSp3y4YlC1wDLp6M=
  - secure: cwCaLrVIUMJT5enL7zoBiRPOn/Fay9vC+98KKV84hl9DlyazW+ZuV+Jis742FJxTb/l+QY+xut9/M/XK2dXMQYuNd4g0g2DcH1R3N8Pu6zs/YSgFWpHohSDBk1qVN8SwRB9e9ZaKWUQeiKfsk44WzynK9+LyQ5c7WQJBX9sUdwSgEd3aO2mxP9FuHXvhpBiZRuL1YRvZ2WZdZPf+nkz0vY4cQRQ7TpxBSPQm68/QkyCfNIXyrptug+XaxGSLYtqKdejwElyaIHxf9U+6VjPNdz1v4AP/cknqjBclI9WK7i2sR7jU54VOo3f2M/En1nA3dJ1TS5FC/GloTLfxkxsDM5NTDyskzAbtYfotADjNaOzqwXhUSOfTQ/k/ifrNen1Mn/tmkKPkhUzxQ/E8zSu0L+BqaJOSqHYldBSkK0eZheXIIf2PEAbNuxCFFpoJD/2dj9s0mFpNLFFHr3xcdr2FA53C916d1nQfD/5uN24ds0bCBDCBE1DeT4EoRdm0ajLJNf8qogbPwDi9lnyfvbvtcUnNLHw2RJE4MZXgD64yJiPaNz4GrKsxN9nmh7TAJYnee3/3+V4HQPfjbNimJOhun/75RzHCa+fH5mpyihRSGQUIY1ywsseN55bg69sPe8Wzi7Y0vqbcDuokb5MutNgjJMkJbDYTcwWlzlqdO0aerTA=
addons:
  ssh_known_hosts:
    - 81.31.168.207
  apt:
    packages:
    - sshpass
    - optipng
    - jpegoptim
    - rsync
after_success:
  - mkdir build
  - rsync -r --exclude='.*' --exclude='build' ./ build
  - cd build/config/nginx/sites-available
  - cp aichallenge.sharif.edu ../sites-enabled
  - cd ../../../..
  - cd build/apps/
  - find . -iname '*.png' -print0 | xargs -0 optipng -o7 -preserve
  - find . -iname '*.jpg' -print0 | xargs -0 jpegoptim --max=90 --strip-all --preserve --totals
  - cd ../..
  - tar -czf deploy_package.tgz build
  - export SSHPASS=$DEPLOY_PASS
  - sshpass -e rsync --progress -avzhe 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null' deploy_package.tgz $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH
  - rm -r build deploy_package.tgz
  - sshpass -e rsync --progress -avzhe 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null' deploy.sh $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH
  - sshpass -e ssh $DEPLOY_USER@$DEPLOY_HOST chmod +x $DEPLOY_PATH/deploy.sh
  - sshpass -e ssh $DEPLOY_USER@$DEPLOY_HOST $DEPLOY_PATH/deploy.sh