language: python
python: 3.6
addons:
  ssh_known_hosts:
  - 81.31.168.207
stages:
  - test
  - name: deploy_test
    if: type = push AND (branch IN (travis_integration, production-test))
  - name: deploy_production
    if: type = push AND (branch IN (master, travis_integration))
jobs:
  include:
  - stage: test
    services: postgresql
    env:
    - DJANGO=1.11
    before_install:
    - export DJANGO_SETTINGS_MODULE=aic_site.settings.development
    - export PYTHONPATH=$HOME/builds/SharifAIChallenge/aic_site
    - export PIP_USE_MIRRORS=true
    install:
    - pip install -r requirements/production.txt
    - pip install django==$DJANGO --quiet
    - pip install psycopg2 --quiet
    before_script:
    - psql -c "CREATE DATABASE mydb;" -U postgres
    script:
    - python manage.py makemigrations
    - python manage.py migrate
    - python manage.py test
  - stage: deploy_production
    addons:
      apt:
        packages:
        - sshpass
        - optipng
        - jpegoptim
        - rsync
    script:
    - mkdir build
    - rsync -r --exclude='.*' --exclude='build' --exclude='deploy' ./ build
    - cd build/config/nginx/sites-available
    - cp aichallenge.sharif.edu ../sites-enabled
    - cd ../../../..
    - cd deploy
    - cp deploy.sh Dockerfile ../build
    - cp ./docker-compose.yml ../build/docker-compose.yml
    - cd ..
    - cd build/apps/
    - find . -iname '*.png' -print0 | xargs -0 optipng -o7 -preserve
    - find . -iname '*.jpg' -print0 | xargs -0 jpegoptim --max=90 --strip-all --preserve --totals
    - cd ../..
    - tar -czf deploy_package.tgz build
    - export SSHPASS=$DEPLOY_PASS
    - sshpass -e rsync --progress -avzhe 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null' deploy_package.tgz $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH
    - rm -r build deploy_package.tgz
    - sshpass -e rsync --progress -avzhe 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null' deploy/deploy.sh $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH
    - sshpass -e ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $DEPLOY_USER@$DEPLOY_HOST chmod +x $DEPLOY_PATH/deploy.sh
    - sshpass -e ssh -t -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $DEPLOY_USER@$DEPLOY_HOST sudo $DEPLOY_PATH/deploy.sh

  - stage: deploy_test
    addons:
      apt:
        packages:
        - sshpass
        - optipng
        - jpegoptim
        - rsync
    script:
    - mkdir build_test
    - rsync -r --exclude='.*' --exclude='build_test' --exclude='deploy' ./ build_test
    - cd build_test/config/nginx/sites-available
    - cp aichallenge.sharif.edu.test ../sites-enabled
    - cd ../../../..
    - cd deploy
    - cp deploy_test.sh Dockerfile ../build_test
    - cp ./docker-compose_test.yml ../build_test/docker-compose.yml
    - cd ..
    - cd build_test/apps/
    - find . -iname '*.png' -print0 | xargs -0 optipng -o7 -preserve
    - find . -iname '*.jpg' -print0 | xargs -0 jpegoptim --max=90 --strip-all --preserve --totals
    - cd ../..
    - tar -czf deploy_test_package.tgz build_test
    - export SSHPASS=$DEPLOY_PASS
    - sshpass -e rsync --progress -avzhe 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null' deploy_test_package.tgz $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH
    - rm -r build_test deploy_test_package.tgz
    - sshpass -e rsync --progress -avzhe 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null' deploy/deploy_test.sh $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH
    - sshpass -e ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $DEPLOY_USER@$DEPLOY_HOST chmod +x $DEPLOY_PATH/deploy_test.sh
    - sshpass -e ssh -t -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $DEPLOY_USER@$DEPLOY_HOST sudo $DEPLOY_PATH/deploy_test.sh

env:
  global:
  - secure: S0mTeW5elEvCR/w67z+0uCAyaK+wG+Y/1f/iRQVxLjGD3lV5wSqCYWWLe7MCXQe0O0ErR6T1HDmPZztlxbV2b/tFzqz3PALr5LpiSoOBYuJ7xtlpnoB1nA6NywVbyF4vXa+vBlwpdYBYlXj6CIfq4RQtefQDXy1D65s9RmmM6GjN01PlqWDS1AjW1WijoKvdnx13kItulfv2x9qZRYU+9dOTzrjg+btUPFlToTYAjMnMu6fhcnNmsHluZ07gPksaTBazjb7EQbqybiILXvZM9xxos3sw3L8V/KXdf8B+CXUA7M8Q17NzKNQWZK23qBNF2b5D0IgtrgNUiM0mqhlFUZRZwP/7Fl3lndy4048RteGCl+hcBYNMNyI7f0lCTk6jO5Fx1cqS6RmIwNpGQTgzXjrCuQE/IVjWXTMyeaS56BsP+nEa+VviOsK2RObV8zZ5rVUlooQuATHPJUvBqN5gCdBdXLIqG66lPQoTA14TKRDnvHw3KOkm+ZM9D1XBey75W4R1DVAR/lPnpfyBwXWvV0jXcSDmsobV9xwcRyWyvibc3Qm8qEwa+Uj5Nk7XR1mkECzQ0xh9oQx5+vpc9OGILKBW4lj1B4+uRbubjvtW8n3TDNBo3o0RV441pUKWWSp1D9qGmsMkuILc1STQmMireduy02Zt0wtrrmK89mwJE90=
  - secure: avypHP0OYjp9Gd2JZTq0G0QYY331fPx+SxXPWYAgWCPSF2ys84/TD0qI8HGGxMkMlkqZIxPVn8h9+aPmLPeii1rTeu6K463irH8/KSp24X34P7vltZPtkVPgEbsaSrtljxhCl+5vouWPuIle+Z+tpFvHHdnaqHt6tKEuNgfl/RQxcpcQQji8VPkXEr0jOhCoJd7yTR/g6+nU0e2FHavVv4QWVR3tfTHVFV3c6mIismcsv0C0J2TUEj+0XjvqRJ2R+FDwxcIjDyiO9INPm1Lr53uGvnZp+UaNpJga8Or6Jq/86T/FnLkI81/AQjHiroXxFblk65Zu1WnobqAD6Pyg8x+YymrCzL29f7XvnnD7inx/L8E7yLXlibXTCHGvp16B2XQWTBc+WWy49F2CwRaPhgvHbuqeJE2VuoiHoUrYP8w/Tjt1iaD8CDB3/hQE1jzAWY2jsPevPMCOgVtBBba5cgMroHa7TDnYtPCYLSFDqj0JosRf3W42k5f+e6yA59N98JqJR9Qy1bSjS139xEh10PTvhQFEoUMCu+iAbBVmH7gz6BsEntNg+jAVHychRGlHLGyyxo7DjP2CYL6z1O837VclzSFq+ZHkSUqX8J5uDTXEDMI44/0pMOQSe/L9/XgUtKT/I/OfbQu8hJpNomtlPe1XYpFoiiMoLOmCHsmLtBo=
  - secure: Eu+Ua32JbIxWtIRbJNczICLm0NptVKf/dBXgRGGWX+aMVvS9dzN0vUebDEGhmn4uQ2mJ43cqopL22AWj6fKOj6YmbNwr0ZmzncIV9pbfbs8gMeZiHFQ3WlDio8JmkNP6duDGWB0PkGWX4Av3vaGQz9SEpilexgC+lkZfl6ZEqCv6/HFxxl6olRzYVC3gl8sqdKCBkJx1ZQTJhe1vBQoEGsmOehcLssYNmmWpiXhxeEFcDH46z91efyhCcjZtgCdjfjwVJrmR2E5bR7auHExzCqkNhmXNqi00Lk7HgB+lFWZlxd7ZNAi3c7lMx0YJEGwP0Aptub1rInuCjtnG0L3n/Eh899RG+wwMv10e1o7WXnZEVZA0wJlX1INdI0K5P1blV+AmlKYg+fa2WCo4jxfDEbAf+bSthDIpFIYhbRJ6ZsFEf17KmOxPmKjCYOKSgbEihCrg1U4JPpmM8CwUfIwMlTOtCPtojeRxgEC57lGZlQD0E7erkmnGRj3O/NrVCkS26xFzIe5YvKb1WZUIgxZqYVm1xZo9n5Ifg4haxct6EsEOqPPX1OorWupJtA0KqT8akzjUYMSaj1xoD6zq0p8FbuS3iDrvOor9mcHfR1ra+/atPYv5WHTsMdOQHL+hu1d3KGn9KsTotv1GU6N40pO8SHo9mGNF9Uv9C20vsMPhN2A=
  - secure: dwF6n+Po7epN6ypUYTDrHkjDDfcNdKLUYHt4VVslDZUUj8xcvbZxYBDvmeLUlJbI0U69zLdmE4DJsB/DRqQtWutDIZi17XVQLClXVClJXrSE/jGNaaAv0EmyQa5nDB70iClySQCkBI7bmzqQY7ByLqIft/nRpCLC+/ZqquUKRJczD1yGbFPhE6g/qokw1w6DQP54rQEjigL2Tns4ICjj/N4vmd31ozBwUcZEZcc7sXW5q9Muk2n4VIRx5TZgs0ZdH048ZZdwxAJjLrXe4jXEtcHiB3LLZldm2lWfQsix+YT3CcaK+EMABVrnupa0+zevz9GyyTC8ggBlXo5LpOiP6EVEFOQqwPBWa98vnB0QJwD2oalfLPX8FTNFOrtnbTwVVp5Kt6xSrqDT4VA4hNqtGcAx7t6tGhu5g+Vrba8WHr29N8bbPUoryWQMcBXUge+cvFNVJyBqYAZTR6/Gxuf6qA50UiZN+VfbEKOG40fWwl31U4F5Hr9ZS4N45UBkdkPb2KNPrfd3I8yy242gXAxJG/hQYaYTeqifvb13T4W7e+agnweZQGOGmLmHfNp3NWlEwXP8nwABqgANHLrTHWRAtYJBr2j86YyMpKKrkSg28ZRCKRhEY2B0QbHyNsLVF5pZh2k/NaE2N75n7oFd922rSGJDnsRmoEYvPoh+FILoXc8=
