{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block container %}
    <div class="ui inverted  resetpass" style="border-radius: 30px;margin: auto;background-color: #222222dd;padding: 20px ">
  <form method="post"  class="ui inverted form error" style="margin:auto;width: 90%">
      <h3 class="ui dividing header"> {% trans 'Forgot password' %} </h3>
    {% csrf_token %}

      <div class="field required">
          <label>{% trans 'Email' %}</label>
          {{ form.email }}
      </div>

    <button type="submit" class="ui inverted teal button">{% trans 'Submit' %}</button>
  </form>
    </div>
{% endblock %}
