{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block container %}
    <div class="ui inverted  message">
        <div class="content" style="color: #fff3d9;">
            <div class="header">
                {% trans "Your password has been set." %} {% trans "You may go ahead" %} {% trans "and" %} <a href="{% url 'accounts:login' %}"><span style="color:#009D8A">{% trans "log in" %}</span></a>.
            </div>
        </div>
    </div>
{% endblock %}
