{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block container %}
    {% if validlink %}
         <div class="ui segment" style="border-radius: 30px;margin: auto;background-color: #222222dd">
        <form method="post" class="ui inverted form error " style="margin:auto;width: 90%">
            <h3 class="ui dividing header"> {% trans 'Change password' %} </h3>
            {% csrf_token %}
            <div class="field required">
                <label>{% trans 'Password' %}</label>
                {{ form.new_password1 }}
            </div>
            {% if form.new_password1.errors %}
                <ol class="ui message error">
                    {% for error in form.password1.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ol>
            {% endif %}

            <div class="field required">
                <label>{% trans 'Password Confirm' %}</label>
                {{ form.new_password2 }}
            </div>
            {% if form.new_password2.errors %}
                <ol class="ui message error">
                    {% for error in form.new_password2.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </ol>
            {% endif %}
            <button type="submit" class="ui green button">{% trans "Change password" %}</button>
        </form>
         </div>
    {% else %}
        <div class="ui error message">
            <div class="content">
                <div class="header">
                    {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}