{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block container %}
  <form method="post" class="ui form error">
      <h3 class="ui dividing header"> {% trans 'Forgot password' %} </h3>
    {% csrf_token %}

      <div class="field required">
          <label>{% trans 'Email' %}</label>
          {{ form.email }}
      </div>

    <button type="submit" class="ui green button">{% trans 'Submit' %}</button>
  </form>
{% endblock %}
