{% load static %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html lang="fa">
<head>

    <script type="text/javascript"> (function () {
        var now = new Date();
        var version = now.getFullYear().toString() + "0" + now.getMonth() + "0" + now.getDate() + "0" + now.getHours();
        var head = document.getElementsByTagName("head")[0];
        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.href = "https://app.najva.com/static/css/local-messaging.css" + "?v=" + version;
        head.appendChild(link);
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.async = true;
        script.src = "https://app.najva.com/static/js/scripts/sharif665-4095-b49ebc58-efd4-4e65-9b2e-f395e117c686.js" + "?v=" + version;
        head.appendChild(script);
    })() </script>

    <script>
        !function (t, e, n) {
            t.yektanetAnalyticsObject = n, t[n] = t[n] || function () {
                t[n].q.push(arguments)
            }, t[n].q = t[n].q || [];
            var a = new Date,
                r = a.getFullYear().toString() + "0" + a.getMonth() + "0" + a.getDate() + "0" + a.getHours(),
                c = e.getElementsByTagName("script")[0], s = e.createElement("script");
            s.async = 1, s.type = "text/javascript", s.src = "https://cdn.yektanet.com/rg_woebegone/scripts/2382/rg.complete.js?v=" + r, c.parentNode.insertBefore(s, c)
        }(window, document, "yektanet");
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MXQDDPG');</script>
    <!-- End Google Tag Manager -->
    <title>{% block head_title %}AI Challenge 2019{% endblock %}</title>
    <meta name="description"
          content="{% block head_description %}{% endblock %}"/>
    <meta content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="fontiran.com:license" content="RC4QT"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#000000">

    <link rel="stylesheet" href="





            {% if LANGUAGE_BIDI %}{% static 'semantic/semantic.rtl.min.css' %}{% else %}{% static 'semantic/semantic.min.css' %}{% endif %}">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}?ver=5">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>


    <script src="{% static 'js/scripts.js' %}?ver=4"></script>

    {% block extra_header %}{% endblock %}
</head>
<body {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} style="height: 100%;">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXQDDPG"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% block sidebar %}
    {% include 'base/sidebar.html' %}
{% endblock %}
<div class="pusher">
    <div class="body-image" {% block bg-style %}{% endblock %}></div>
    {% block hide-patterns %}
        <div class="body-pattern" id="pattern"></div>{% endblock %}
    {% block body %}
        <div id="main">

            {% block navbar %}
                {% include 'base/navbar.html' %}
            {% endblock %}


            {% block content %}
                <div class="ui container" {% block error-aligns %}{% endblock %}>
                    {% block container %}

                    {% endblock %}
                </div>
            {% endblock %}

            {% block footer %}
                {% include 'base/footer.html' %}
            {% endblock %}
        </div>
    {% endblock %}

</div>

<script src="{% static 'js/jquery.inview.min.js' %}"></script>
<script src="{% static 'js/footer_scripts.js' %}?ver=2"></script>
<script type="text/javascript">
    $(document)
        .ready(function () {
            var x = $("#footer").offset();
            var footer_pos = x.top;
            var screen = $(window).height();
            if (footer_pos + 200 < screen)
                $("#footer").css('position', 'fixed');


        });

</script>
{% block footer_scripts %}{% endblock %}
</body>
</html>

