{% load static %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <title>{% block head_title %}AI Challenge 2018{% endblock %}</title>
    <meta name="description"
          content="{% block head_description %}{% endblock %}"/>
    <meta content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="fontiran.com:license" content="RC4QT"/>
    <link rel="stylesheet" href="
            {% if LANGUAGE_BIDI %}{% static 'semantic/semantic.rtl.min.css' %}{% else %}{% static 'semantic/semantic.min.css' %}{% endif %}">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>



    <script src="{% static 'js/scripts.js' %}"></script>

    {% block extra_header %}{% endblock %}
</head>
<body {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} class="body-image">
<div class="body-pattern" id="pattern"></div>
{% block sidebar %}
    {% include 'base/sidebar.html' %}
{% endblock %}
{% block body %}
    <div class="pusher">
    <div id="main">
{##}
    {% block navbar %}
        {% include 'base/navbar.html' %}
    {% endblock %}

    {% block content %}
        <div class="ui container">
            {% block container %}

            {% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'base/footer.html' %}
    {% endblock %}
</div>
</div>
{% endblock %}

<script src="{% static 'js/jquery.inview.min.js' %}"></script>
<script src="{% static 'js/footer_scripts.js' %}"></script>
{% block footer_scripts %}{% endblock %}
</body>
</html>

