{% load i18n %}
<div class="ui borderless fluid stackable attached container center aligned" id="footer" style="bottom: 0">
    <div style="margin-left: auto; margin-right: auto;">
    <div class="socialformobile">
        <a class="ui icon telegram plane button" href="https://t.me/aichallenge" id="telegram_bottom">
            <i class="black telegram icon"></i>
        </a>
        <a class="ui icon instagram button" href="https://www.instagram.com/aichallenge/" id="instagram_bottom">
            <i class="black instagram icon"></i>
        </a>

        <a class="ui icon twitter button" href="https://twitter.com/aichallenge" id="twitter_bottom">
            <i class="black twitter icon"></i>
        </a>
    </div>
        <div class="horizonal divider"></div>
        <div class="ui black label">
	{% blocktrans %}
            © All rights reserved for <a href="http://ssc.ce.sharif.edu" target="_blank" style="opacity: 1;" id="ssc_link_bottom">Students' Scientific Chapter (SSC)</a>, 2019
	{% endblocktrans %}
        </div>
    </div>
</div>
