{% load i18n %}
<div class="ui borderless fluid stackable attached segment center aligned" id="footer">
    <div style="margin-left: auto; margin-right: auto;">
        <a class="ui icon telegram button" href="https://t.me/aichallenge">
            <i class="telegram icon"></i>
        </a>
        <a class="ui icon instagram button" href="https://www.instagram.com/aichallenge/">
            <i class="instagram icon"></i>
        </a>

        <a class="ui icon twitter button" href="https://twitter.com/aichallenge">
            <i class="twitter icon"></i>
        </a>
        <a class="ui icon linkedin button"
           href="https://www.linkedin.com/showcase/sharif-ai-challenge/">
            <i class="linkedin icon"></i>
        </a>
        <div class="horizonal divider"></div>
        <div class="ui grey label">
            {% trans 'Sharif AI Challenge 2018' %}
        </div>
    </div>
</div>