{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="ui attached inverted sticky borderless menu navbar-color" id="navbar">
    {% if request.user.is_authenticated and not no_sidebar %}
        <span style="cursor: pointer;" class="ui item" onclick="$('.ui.sidebar').sidebar('toggle');"><i
                class="sidebar icon"></i></span>
    {% endif %}
    {% for title, link in ai.navbar %}
        {% if not link.dropdown %}
            <a href="{{ link.address }}" class="{% if link.active %}active {% endif %}item">{{ title }}</a>
        {% else %}
            <div class="ui pointing dropdown link item">
                <span class="text">{{ title }}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for dtitle, dlink in link.dropdown.items %}
                        <a href="{{ dlink }}" class="item">{{ dtitle }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}


    <form name="setLangEnglish" action="/i18n/setlang/" method="POST">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}"/>
        <input type="hidden" name="language" value="en"/>
    </form>

    <form name="setLangPersian" action="/i18n/setlang/" method="POST">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}"/>
        <input type="hidden" name="language" value="fa"/>
    </form>

    <div class="right menu">
        {% if LANGUAGE_CODE == "en" %}
                <a onclick="document.setLangPersian.submit();return false;" href="#"> فا </a>
        {% else %}
                <a onclick="document.setLangEnglish.submit();return false;" href="#">en </a>
        {% endif %}


    </div>


</div>
