{% extends 'accounts/panel/panel.html' %}
{% load static i18n ai_filters tz %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block panel_content %}
    <h2 style="margin-top: 20px;">{% trans 'Rating' %}</h2>
    <h3 style="margin-bottom: 30px">
    {% trans 'Your rank' %}: {{ rank }}
    </h3>
    {% if teams|length %}
        <table class="ui center aligned inverted table table-bordered">
            <thead>
            <tr>
                <th>{% trans 'Rank' %}</th>
                <th>{% trans 'Team' %}</th>
                <th>{% trans 'Rate' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr {% if team == current_team %} class="active" {% endif %}>
                    <td>{{ forloop.counter0|add:teams.start_index }}</td>
                    <td>{{ team.name|truncatechars:20 }}</td>
                    <td> {{ team.rate }}</td>
                </tr>
            {% endfor %}
            </tbody>
            {% if teams.has_other_pages %}
                <tfoot>
                <tr>
                    <th colspan="3">
                        <div class="ui right floated pagination menu">
                            {% if teams.has_previous %}
                                <a class="icon item"
                                   href="?page={{ teams.previous_page_number }}">
                                    <i class="{% if LANGUAGE_BIDI %}right{% else %}left{% endif %} chevron icon"></i>
                                </a>
                            {% else %}
                                <a class="disabled icon item">
                                    <i class="{% if LANGUAGE_BIDI %}right{% else %}left{% endif %} chevron icon"></i>
                                </a>
                            {% endif %}

                            {% for i in teams.paginator.page_range %}
                                {% if teams.number == i %}
                                    <a class="active item"><span>{{ i }}</span></a>
                                {% else %}
                                    <a class="item"
                                       href="?page={{ i }}"><span>{{ i }}</span></a>
                                {% endif %}
                            {% endfor %}


                            {% if teams.has_next %}
                                <a class="icon item"
                                   href="?page={{ teams.next_page_number }}">
                                    <i class="{% if LANGUAGE_BIDI %}left{% else %}right{% endif %} chevron icon"></i>
                                </a>
                            {% else %}
                                <a class="disabled icon item">
                                    <i class="{% if LANGUAGE_BIDI %}left{% else %}right{% endif %} chevron icon"></i>
                                </a>
                            {% endif %}
                        </div>
                    </th>
                </tr>
                </tfoot>
            {% endif %}
        </table>
    {% endif %}
{% endblock %}


