{% extends 'accounts/panel/panel.html' %}
{% load static i18n %}
{% load ai_filters %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block panel_content %}

 <form method="post" class="ui inverted form error" style="margin:auto;width: 90%" enctype="multipart/form-data">
        {% if form.non_field_errors|length %}
            <div class="ui red message">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% csrf_token %}
        <h3 class="ui dividing header">{% trans 'Upload Map' %}</h3>
        <div class="field required">
            <label>{% trans 'Map Name' %}</label>
            {{ form.name }}
        </div>

        {% if form.name.errors %}
            <div class="ui message error" style="font-weight:bolder;color:#ED1A3A;">
                <strong>{{ form.name.errors }}</strong>
            </div>
        {% endif %}


        <div class="field required">
            <label>{% trans 'File' %}</label>
            {{ form.file }}
        </div>
        {% if form.file.errors %}
            <div class="ui message error" style="font-weight:bolder;color:#ED1A3A;">
                <strong>{{ form.file.errors }}</strong>
            </div>
{#            <ol class="ui message error" style="font-weight:bolder;color:#ED1A3A;">#}
{#                {% for error in form.email.errors %}#}
{#                    <li>{{ error|escape }}</li>#}
{#                {% endfor %}#}
{#            </ol>#}
        {% endif %}


        <button type="submit" class="ui inverted teal button" style="font-weight: bolder">{% trans 'Upload' %}</button>
    </form>
{% endblock %}