{% load i18n %}
{% load zinnia %}
{% load static %}
<div class="ui grid container">
<div class="sixteen wide tablet column centered">
<article id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %}" itemscope
         itemtype="http://schema.org/Article">
    <div class="blog_post ui card" >
        <div class="content">
            {% block entry-header %}
                <header class="entry-header">
                    {% block entry-image %}
                        {% if object.image %}
                            <div class="entry-image">
                                {% if continue_reading %}
                                    <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
                                {% endif %}
                                    <img src="{{ object.image.url }}"
                                         alt="{{ object.image_caption|default:object.title }}" itemprop="contentUrl"/>

                                    {% if object.image_caption %}
                                        <figcaption itemprop="caption">{{ object.image_caption }}</figcaption>
                                    {% endif %}
                                {% if continue_reading %}
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endblock entry-image %}

                    <div id="entry-title" class="header">
                        {% block entry-title %}
                            <h2 class="entry-title" itemprop="name" id="blogpost">
                                <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark"
                                   itemprop="url">
                                    {{ object.title|widont }}
                                </a>
                            </h2>
                            </div>
                        {% endblock entry-title %}


                    {% block entry-info %}
                        <p class="entry-info">
                                  {% comment %} Author Part
                                  {% block entry-authors %}
                                  {% with authors=object.authors.all %}
                                  {% if authors|length %}
                                  {% trans "Written by" %}
                                  {% for author in authors %}
                                  <span class="vcard author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                    <a href="{{ author.get_absolute_url }}" class="fn url{% if not author.get_full_name %} nickname{% endif %}" rel="author"
                                       title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}" itemprop="url">{{ author }}</a></span>{% if not forloop.last %}, {% endif %}
                                  {% endfor %}
                                  {% trans "on" context "on date" %}
                                  {% else %}
                                  {% trans "Written on" context "on date" %}
                                  {% endif %}
                                  {% endwith %}
                                  {% endblock entry-authors %}


                                  {% block entry-categories %}
                                  {% with categories=object.categories.all %}
                                  {% if categories|length %}
                                  {% trans "in" context "in categories" %}
                                  {% for category in categories %}
                                  <a href="{{ category.get_absolute_url }}"
                                     title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
                                     rel="tag category" itemprop="articleSection">{{ category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}.
                                  {% endwith %}
                                  {% endblock entry-categories %}{% endcomment %}
                        </p>
                    {% endblock entry-info %}
                    {#    {% block entry-last-update %}#}
                    {#    <p class="entry-last-update">#}
                    {#      {% trans "Last update on" %} <time class="updated" datetime="{{ object.last_update|date:"c" }}" itemprop="dateModified">{{ object.last_update|date:"DATE_FORMAT" }}</time>.#}
                    {#    </p>#}
                    {#    {% endblock entry-last-update %}#}
                    {% block entry-creation-date %}
                        <meta itemprop="dateCreated" content="{{ object.creation_date|date:"c" }}"/>
                    {% endblock entry-creation-date %}
                </header>
            {% endblock entry-header %}

            {% block entry-body %}
                <div class="entry-body">
                    {% block entry-word-count %}
                        <meta itemprop="wordCount" content="{{ object.word_count }}"/>
                    {% endblock entry-word-count %}


                    {% block entry-lead %}
                        {% if not continue_reading and object.lead %}
                            <div class="entry-summary" itemprop="headline" id="blogpost">
                                {{ object.html_lead|safe }}
                            </div>
                        {% endif %}
                    {% endblock entry-lead %}

                    {% block entry-content %}
                        <div class="entry-content" itemprop="articleBody" id="blogpost">
                            {{ object_content|safe }}
                        </div>
                    {% endblock entry-content %}

                    {% block continue-reading %}
                        {% if continue_reading and object_content.has_more %}
                            <p class="continue-reading  floated">
                                <a href="{{ object.get_absolute_url }}"
                                   title="
                                           {% blocktrans with object=object.title percent=object_content.remaining_percent|floatformat:0 %}{{ percent }}% of {{ object }} still remains to read.{% endblocktrans %}"
                                   rel="bookmark" itemprop="url">
                                    {% trans "Continue reading" %}
                                </a>
                            </p>
                        {% endif %}
                    {% endblock continue-reading %}
                </div>
            {% endblock entry-body %}
        </div>

        <div class="extra content">

            {% block entry-footer %}
                <footer class="entry-footer">
                    <div class="left floated">
                    {% block entry-tags %}
                        <p class="entry-tags">
                            {% trans "Tags" %}:
                            <meta itemprop="keywords" content="{{ object.tags }}"/>
                            {% for tag in object.tags_list %}
                                <a href="{% url 'zinnia:tag_detail' tag %}"
                                   title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
                                   rel="tag" itemprop="articleSection">
                                    <span class="ui blue label">
                                        {{ tag }}
                                    </span>
                                </a>
                            {% empty %}
                                <span>{% trans "No tags" %}</span>
                            {% endfor %}
                        </p>
                    {% endblock entry-tags %}
                    </div>
                    <div class="right floated">
                    {% block entry-published %}

                        <time style="direction: rtl !important;" class="published" datetime="{{ object.publication_date|date:"c" }}"
                              itemprop="datePublished">{{ object.publication_date|date:"DATE_FORMAT" }}</time>
                    {% endblock entry-published %}
                    </div>

                    <br>
                </footer>
            {% endblock entry-footer %}

        </div>
    </div>
</article>
</div>
</div>