{% extends "zinnia/base.html" %}
{% load i18n %}
{% load zinnia %}


{% block title %}{{ object.title }}{% endblock title %}

{% block meta-description %}{{ object.excerpt|safe }}{% endblock meta-description %}

{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% else %}{{ block.super }}{% endif %}{% endblock meta-keywords %}

{% block link %}
  {{ block.super }}
  {% with previous_entry=object.previous_entry %}{% if previous_entry %}
  <link rel="prev" title="{{ previous_entry.title }}" href="{{ previous_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% with next_entry=object.next_entry %}{% if next_entry %}
  <link rel="next" title="{{ next_entry.title }}" href="{{ next_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  <link rel="shortlink" href="{{ object.short_url }}" />
  <link rel="canonical" href="{{ object.get_absolute_url }}" />
  {% with year=object.publication_date|date:"Y" month=object.publication_date|date:"m" day=object.publication_date|date:"d" %}
  <link rel="alternate" type="application/rss+xml" title="{% blocktrans with object=object.title %}RSS feed of discussions on {{ object }}{% endblocktrans %}"
        href="{% url 'zinnia:entry_discussion_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% blocktrans with object=object.title %}RSS feed of comments on {{ object }}{% endblocktrans %}"
        href="{% url 'zinnia:entry_comment_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% blocktrans with object=object.title %}RSS feed of pingbacks on {{ object }}{% endblocktrans %}"
        href="{% url 'zinnia:entry_pingback_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% blocktrans with object=object.title %}RSS feed of trackbacks on {{ object }}{% endblocktrans %}"
        href="{% url 'zinnia:entry_trackback_feed' year month day object.slug %}" />
  {% endwith %}
{% endblock link %}

{% block body-class %}entry entry-{{ object.pk }}{% if object.featured %} featured{% endif %} year-{{ object.publication_date|date:"Y" }} month-{{ object.publication_date|date:"m" }} week-{{ object.publication_date|date:"W" }} day-{{ object.publication_date|date:"d" }}{% endblock body-class %}

{% block container %}

{% block entry-content %}
  {% include object.content_template with object_content=object.html_content %}
{% endblock entry-content %}


{% block entry-comments %}
<section id="comments" class="ui form">
  <h3>{% trans "Comments" %}</h3>
  {% if object.comment_count %}

  <!-- ### Sample rendering of comments ###-->
  <!-- reference: -->
  <!-- https://pypi.python.org/pypi/django-threadedcomments -->


  {% block comments-loop %}

  {% load threadedcomments_tags %}
  {% get_comment_list for object as comment_list_roots %}
  <ol id="comment-list">

  {% for comment_list_root in comment_list_roots %}
    {% if user.is_staff %}
      {% render_comment_form for comment_list_root with comment_list_root.id %}
    {% endif %}
    {% get_comment_list for comment_list_root as comment_list %}
  {% for comment in comment_list|fill_tree|annotate_tree %}
    {% ifchanged comment.parent_id %}{% else %}</li>{% endifchanged %}
    {% if not comment.open and not comment.close %}</li>{% endif %}
    {% if comment.open %}<ul>{% endif %}
    <!--<li id="c{{ comment.id }}">-->

    <li id="comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"
        class="comment vcard {% cycle 'box1' 'box2' %}{% if comment.user %} authenticated-comment{% if comment.user.is_staff %} staff-comment{% endif %}{% if comment.user.is_superuser %} superuser-comment{% endif %}{% endif %}">
      {% block comment-image %}
      <!--<img src="{% get_gravatar comment.email 60 "G" %}"-->
           <!--class="gravatar photo" alt="{{ comment.name }}" />-->
      {% endblock comment-image %}
      {% block comment-info %}
      <p class="comment-info">
        {% blocktrans with comment_url=comment.url|default:"#" comment_name=comment.name comment_human_date=comment.submit_date|date:"SHORT_DATETIME_FORMAT" comment_technical_date=comment.submit_date|date:"c" comment_pk=comment.pk comment_author_slug=comment.user_name|slugify trimmed %}
        <a href="{{ comment_url }}" rel="external nofollow"
           class="fn url">{{ comment_name }}</a>
        on
        <time class="comment-published" datetime="{{ comment_technical_date }}">
          {{ comment_human_date }}
        </time>
        <a href="#comment-{{ comment_pk }}-by-{{ comment_author_slug }}"
           id="c{{ comment_pk }}" class="anchor-link"
           title="Direct link to this comment">#</a>
        {% endblocktrans %}
      </p>
      {% endblock comment-info %}
      {% block comment-content %}
      {{ comment.comment|linebreaks }}
      {#{% render_comment_form for comment with comment.id %}#}
      {% endblock comment-content %}
    </li>
    {% endfor %}
    {% endfor %}
  </ol>
  {% endblock comments-loop %}
    {% if not object.comments_are_open %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% else %}
    {% if object.comments_are_open %}
  <p>{% trans "No comments yet." %}</p>
    {% else %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% endif %}
</section>
{% endblock entry-comments %}

{% block entry-comments-form %}
{% if object.comments_are_open %}
  <div class="ui form">
  {% render_comment_form for object %}
    </div>
{% endif %}
{% endblock entry-comments-form %}

{% endblock container %}

{% block admin-tools %}
{% if perms.zinnia.change_entry %}
<li>
  <a href="{% url 'admin:zinnia_entry_change' object.pk %}" title="{% trans "Edit the entry" %}">
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}
{% endblock admin-tools %}
