{% load static i18n %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{%  trans 'Email Activation' %}</title>
</head>
<body>
{% autoescape off %}
    <p>{% trans 'Hello' %} {{ user.username }}!</p>
    <p>{% trans 'Click on the  link below to activate your account:' %} </p>
    <a href="http://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}">http://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}</a>
{% endautoescape %}
</body>
</html>