{% load i18n %}
<div id="challenge-teams">
    <h2>{% trans 'Battle history' %}</h2>
    <table class="ui center aligned table table-bordered">
        <thead>
            <tr>
                <th>{% trans 'Time' %}</th>
                <th>{% trans 'Team' %}</th>
                <th>{% trans 'Log' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for match in battle_history %}
                <tr>
                    <td>{{ match.time }}</td>
                    <td>
                        {% if match.part1.object_id == participation_id %}
                            {{ match.part2 }}
                        {% elif match.part2.object_id == participation_id %}
                            {{ match.part1 }}
                        {% endif %}
                    </td>
                    <td>
                        <a class="ui icon orange button" target="_blank">
                            <i class="code icon"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <form action="{% url 'accounts:challenge_a_team' participation_id %}" method="post" >
        {% csrf_token %}
        <div class="field">
            <select class="ui dropdown">
                <option value="">Opponent</option>
                {% for team in form_challenge.battle_team %}
                    <option value={{ team.id }}>{{ team }}</option>
                {% endfor %}
            </select>
        </div>
        <select class="ui dropdown">
            <option value="">Map</option>
            {% for map in form_challenge.battle_team_maps %}
                <option value={{ map.id }}>{{ map }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="ui green button" value="Submit">
    </form>
</div>

{#<script type="text/javascript" src="{% static 'accounts/js/challenge_teams.js' %}"></script>#}