{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block container %}

<form class="ui form error" id="create_team_form" method="post">
  {% csrf_token %}
  <div class="field">
      <label>Team Name</label>
      {{ form.team_name }}
  </div>

{% if  form.team_name.errors %}
    <div class="ui message error" id="name_error_box">
        <strong>{{ form.team_name.errors }}</strong>
    </div>
    $(
{% else %}
    <script>
        $('#name_error_box').css();
    </script>
{% endif %}

<div class="field">
    <label>Second Member</label>
    <select class="ui dropdown search" id="drop1_id" name="member1" onchange="second_field()">
        <option value="">-----</option>
        <option value="-----">-----</option>
        {% for user in users %}
            <option value={{ user.email }}>{{ user.username }}</option>
        {% endfor %}
    </select>
</div>
<div id="third_member" class="field" style="display: none">
    <label>Third Member</label>
    <select class="ui dropdown search" id="drop2_id" name="member2" onchange="third_field()">
        <option value="">-----</option>
        <option value="-----">-----</option>
        {% for user in users %}
            <option value={{ user.email }}>{{ user.username }}</option>
        {% endfor %}
    </select>
</div>
  <button class="ui button" type="submit">{% trans 'Create Team' %}</button>
{% if  form.non_field_errors %}
    <div class="ui error message">
        <div class="header">Error!</div>
        <strong>{{ form.non_field_errors }}</strong>
    </div>
{% endif %}
</form>
<script>
function second_field() {
    var options = $('#drop2_id option');
    if ( $('#drop1_id' ).val() == "-----" || $('#drop1_id' ).val() == ""){
        $('#drop1_id').val("");
        $('#third_member').hide(800);
    }
    else {
        $('#third_member').show(800);
    }
}
function third_field() {
    if ( $('#drop2_id' ).val() == "-----" || $('#drop1_id' ).val() == ""){
        $('#drop2_id').val("");
    }
}
</script>
{% endblock %}