{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block extra_header %}
    <script src="{% static 'accounts/js/api.js' %}"></script>
{% endblock %}

{% block container %}
    {% include 'accounts/panel/messages.html' %}
    <form method="post" enctype="multipart/form-data" class="ui form">
        {% if accepted_participations|length > 0 %}
            {% include 'accounts/panel/challenge_feild.html' %}

            {% include 'accounts/panel/team_management.html' %}
            {% if participation %}
                {% if participation.all_members_accepted %}
                    {% include 'accounts/panel/submissions.html' %}
                {% endif %}
            {% endif %}
            </form>

            {% if participation %}
                {% if participation.all_members_accepted %}
                    {% block battle_history %}
                        {% if battle_history %}
                            {% include 'accounts/panel/battle_history.html' %}
                        {% endif %}
                    {% endblock %}
                {% endif %}
            {% endif %}
        {% else %}
            {% for challenge in  challenges %}
                {% if challenge.can_register %}
                    <a href="{% url 'accounts:create_team' challenge.id %}"
                       class="ui blue button">{% trans 'Create New Team' %}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
{% endblock %}