{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% block container %}
    <form method="post" enctype="multipart/form-data" class="ui form">
    <div class="field">
        {{ form.team.errors }}
        <label for="{{ form.team.id_for_label }}">{% trans 'Challenge:' %}</label>
        {{ form.team }}
    </div>
    <table class="ui center aligned table table-bordered">
      <thead>
        <tr>
          <th>{% trans "Selected" %}</th>
          <th>{% trans "Time" %}</th>
          <th>{% trans "Language" %}</th>
          <th>{% trans "Status" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submissions %}
        <tr>
            <td>
                <div class="ui checkbox">
                    <input type="checkbox" class="submission" {% if submission.is_final %}checked="true"{% endif %} data-id="{{ submission.id }}" id="submission_{{ submission.id }}">
                    <label></label>
                </div>
            </td>
            <style>
                add_submission_api({{ submission.id }});
            </style>
            <td>{{ submission.time }}</td>
            <td>{{ submission.language }}</td>
            <td>{{ submission.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% if submissions.has_other_pages %}

      <tfoot>
        <tr>
            <th colspan="4">
              <div class="ui right floated pagination menu">
                {% if submissions.has_previous %}
                <a class="icon item" href="?page={{ submissions.previous_page_number }}">
                  <i class="left chevron icon"></i>
                </a>
                {% else %}
                <a class="disabled icon item">
                  <i class="left chevron icon"></i>
                </a>
                {% endif %}
                {% for i in submissions.paginator.page_range %}
                  {% if submissions.number == i %}
                    <a class="active item"><span>{{ i }}</span></a>
                  {% else %}
                    <a class="item" href="?page={{ i }}"><span>{{ i }}</span></a>
                  {% endif %}
                {% endfor %}
                {% if submissions.has_next %}
                <a class="icon item" href="?page={{ submissions.next_page_number }}">
                  <i class="right chevron icon"></i>
                </a>
                {% else %}
                <a class="disabled icon item">
                  <i class="right chevron icon"></i>
                </a>
                {% endif %}
              </div>
          </th>
        </tr>
      </tfoot>
      {% endif %}
    </table>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fields">
            <div class="two field">
                {{ form.file.errors }}
                <label for="{{ form.file.id_for_label }}">{% trans 'File:' %}</label>
                {{ form.file }}
            </div>
            <div class="two field">
                {{ form.language.errors }}
                <label for="{{ form.language.id_for_label }}">{% trans 'Language:' %}</label>
                {{ form.language }}
            </div>
        </div>
        <input type="submit" class="ui green button" />
    </form>

    <script src="{% static 'accounts/js/api.js' %}"></script>
{% endblock %}