{% load static i18n %}


<html>
{% block head_content %}
    <title>Sign Up</title>
{% endblock %}

{% block content %}
    <div class="signup">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input name="first_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Full Name">
                <small style="color: red;">{{ form.name.errors }}</small>

            </div>
            <div class="form-group">
                <input name="username" type="text" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="User Name">
                <small style="color: red;">{{ form.username.errors }}</small>
            </div>
            <div class="form-group">
                <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="Email">
                <small style="color: red;">{{ form.email.errors }}</small>
            </div>
            <div class="form-group">
                <input name="password1" type="password" class="form-control" id="exampleInputPassword1"
                       placeholder="Password">
                <small style="color: red;">{{ form.password1.errors }}</small>

            </div>
            <div class="form-group">
                <input name="password2" type="password" class="form-control" id="exampleInputPassword1"
                       placeholder="Password">
                <small style="color: red;">{{ form.password2.errors }}</small>

            </div>
            {{ form.captcha }}
            <small style="color: red;">{{ form.captcha.errors }}</small>
            {{ form.errors }}
            <div id="br"></div>
            <br>

            <button type="submit" class="btn btn-primary">Submit</button>
            {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {% for err in form.non_field_errors %}
                        <p class="form-error">{{ err }}</p>
                    {% endfor %}
                </div>
            {% endif %}

        </form>


    </div>
{% endblock %}

</html>