@font-face {
	font-family: BRoya;
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/BRoya/BRoya.eot");
	src: url("../fonts/BRoya/BRoya.eot?#iefix") format('embedded-opentype'), /* IE6-8 */ url("../fonts/BRoya/BRoya.woff") format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/BRoya/BRoya.ttf") format('truetype');
}

/*

IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com

---------------------------------------------------------------------

This set of fonts are used in this project under the license: RC4QT

---------------------------------------------------------------------

*/

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/IRANSans/IRANSans.eot");
	src: url("../fonts/IRANSans/IRANSans.eot?#iefix") format('embedded-opentype'), /* IE6-8 */ url("../fonts/IRANSans/IRANSans.woff") format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IRANSans/IRANSans.ttf") format('truetype');
}

@media only screen and (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .mobile-hidden {
        display: none !important;
    }
}