{% extends 'base/base.html' %}

{% block container %}
<h2><i class="ui announcement icon"></i>ای‌آی چلنج چیست؟</h2>
<p>نبرد هوش مصنوعی شریف یا Sharif AI Challenge، یک مسابقه‌ برنامه‌نویسی است که شرکت‌کنندگان آن می‌توانند با دارا بودن مهارت قابل قبولی در یکی از زبان‌های برنامه‌نویسی جاوا، سی‌پلاس‌‌پلاس یا پایتون در آن شرکت کنند.  محوریت مسابقه رقابت تیم‌های شرکت‌کننده با هم در یک بازی طراحی شده توسط تیم فنی، با استفاده از برنامه‌نویسی در محیط یکی از سه زبان برنامه‌نویسی مسابقه است.
پس از نه دوره برگزاری این مسابقه توسط انجمن علمی دانشکده مهندسی کامپیوتر دانشگاه صنعتی شریف(SSC)، امسال (۱۳۹۶) دهمین دوره‌ این مسابقه در دو مرحله‌ غیرحضوری و حضوری برگزار خواهد شد.</p>

<h2><i class="ui announcement icon"></i>آیا ارتباطی میان ای‌آی چلنج و جاوا چلنج وجود دارد؟</h2>
<p>بله. ای‌آی چلنج همان جاوا چلنج سابق است. از دوره‌ هشتم مسابقه به بعد با اضافه شدن دو زبان پایتون و سی‌پلاس‌پلاس، مسابقه نام جدید «نبرد هوش مصنوعی شریف - Sharif AI Challenge» را برای خود برگزید.</p>

<h2><i class="ui announcement icon"></i>مکانیزم برگزاری مسابقه به چه صورت است؟</h2>
<p>مسابقه در دو مرحله‌ حضوری و غیرحضوری برگزار می‌شود. در مرحله غیرحضوری که از ۱۴ بهمن تا ۲ اسفند خواهد بود، تیم‌های شرکت‌کننده براساس مستند منشر شده بازی اقدام به برنامه‌نویسی در فایل‌های client مربوط به زبان برنامه‌نویسی‌ای که با آن کدنویسی می‌کنند خواهند کرد. سپس با یک مکانیزم طراحی شده توسط تیم فنی و با رقابت میان کدهای ارسال‌شده، ۴۸ تیم از مرحله غیرحضوری به مرحله حضوری راه پیدا خواهند کرد. این تیم‌ها نیز در مرحله حضوری که ۱۶ و ۱۷ اسفندماه در دانشکده مهندسی کامپیوتر دانشگاه صنعتی شریف برگزار خواهد شد، اقدام به برنامه‌نویسی مجدد و رقابت با یکدیگر خواهند کرد و در نهایت سه تیم به عنوان تیم‌های اول تا سوم برگزیدگان این رقابت خواهند بود.</p>

<h2><i class="ui announcement icon"></i>ثبت‌نام به چه صورت است؟</h2>
<p>ثبت‌نام در مسابقه از ۱۰‌ام بهمن‌ماه آغاز می‌شود و تا ۲۸ بهمن ادامه دارد. در مرحله غیرحضوری تیم‌ها می‌توانند یک، دو یا حداکثر سه نفری باشند. در صورتی که هر تیم از بین تیم‌های صعود کننده به مرحله حضوری تعدادی کمتر از ۳ عضو داشته باشد، برای شرکت در مرحله‌ی حضوری ملزم است تا اعضای خود را تکمیل نماید و با ۳ نفر در مرحله‌ حضوری شرکت نماید.</p>

<h2><i class="ui announcement icon"></i>‌جوایز این دوره از مسابقات چیست؟</h2>
<p>در این دوره از مسابقه به تیم اول ۷ میلیون تومان، تیم دوم ۵ میلیون تومان و تیم سوم ۳ میلیون تومان جایزه نقدی تعلق خواهد گرفت. به باقی تیم‌های راه‌یافته به مرحله حضوری نیز یادبودهای مسابقات مانند تیشرت اهدا خواهد شد.</p>

<h2><i class="ui announcement icon"></i>آیا برای ثبت‌نام در مسابقه باید هزینه‌ای پرداخت کنیم؟</h2>
<p>ثبت‌نام اولیه در مسابقه رایگان و بدون پرداخت هیچ هزینه‌ای است. یعنی شما می‌توانید در مسابقه ثبت‌نام کنید و در مرحله غیرحضوری با دیگر تیم‌ها به رقابت بپردازید. ۴۸ تیمی که به مرحله‌ حضوری صعود خواهند کرد، برای شرکت در این مرحله به ازای هر تیم ۱۲۰ هزارتومان هزینه ثبت‌نام پرداخت خواهند نمود. دریافت این هزینه صرفا در جهت اجرای هرچه باکیفیت‌تر این مسابقه به عنوان یک رویداد تماما دانشجوئی در مرحله‌ حضوری است.</p>

<h2><i class="ui announcement icon"></i>آیا دانش‌آموزان نیز می‌توانند در این مسابقه شرکت کنند؟</h2>
<p>بله. با وجود این‌که محوریت این مسابقه دانشجوئی است اما منعی جهت شرکت دانش‌آموزان در این مسابقه وجود ندارد.</p>
{% endblock %}