{% extends "base/base.html" %}
{% load static i18n %}



{% block content %}

    <div class="ui  vertical masthead center aligned segment">


    </div>

    <div class="gameInfo">
        <div class="row">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="container ui center aligned segment">
                        Hello world
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="container ui center aligned segment">
                        Mostafa
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui grid">
                <div class="five wide column">
                    <div class="container ui center aligned segment">
                        85
                    </div>
                </div>
                <div class="six wide column">

                </div>
                <div class="five wide column">

                </div>
            </div>
        </div>
    </div>



    <div class="prizes">

        <div class="row">
            <div class="ui center aligned grid" style="background-color: #2d4373">
                    <div class="five wide column" >
                        <div class="container prize ui right aligned segment">
                            <img id="prizeImg" src="{% static 'intro/image/prize2.png' %}" alt="Second rank prize">
                        </div>
                    </div>
                    <div class="five wide column">
                        <div class="container prize ui center aligned segment">
                            <img id="prizeImg" src="{% static 'intro/image/prize1.png' %}" alt="First rank prize">
                        </div>
                    </div>
                    <div class="five wide column">
                        <div class="container prize ui left aligned segment">
                            <img id="prizeImg" src="{% static 'intro/image/prize3.png' %}" alt="Third rank prize">
                        </div>
                    </div>
            </div>
        </div>
    </div>


    <div class="Schedule" style="background-color: #8d9e13">
        <div class="ui container">

            <div class="fake">
                <br>
                <br>
            </div>
            <table class="ui inverted grey unstackable table">
                <thead>
                <tr class="center aligned">
                    <th>{% trans 'Date' %}</th>
                    <th>{% trans 'Details' %}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="center aligned">
                    <td>{% trans '10th of Bahman' %}</td>
                    <td>{% trans 'Online phase registration starts' %}</td>
                </tr>
                <tr class="center aligned">
                    <td>{% trans '14th of Bahman - 2nd of Esfand' %}</td>
                    <td>{% trans 'Online phase starts' %}</td>
                </tr>
                <tr class="center aligned">
                    <td>{% trans '18th and 19th of Esfand' %}</td>
                    <td>{% trans 'Onsite phase at Sharif UT' %}</td>
                </tr>
                </tbody>
            </table>
            <div class="fake">
                <br>
                <br>
            </div>

        </div>
    </div>

    <div class="organization" style="background-color: #4f20b5">
        <div class="container" id="SSCContainer">
            <div class="feature alternate ui stripe vertical segment">
                <div class="ui three column center aligned relaxed unstackable grid container">
                    <div class="row">
                        <div class="column"></div>
                        <div class="column">
                            <img id="SSCImg" class="ui" src="{% static 'intro/image/SSC.png' %}" alt="SSC Image">
                        </div>
                        <div class="column"></div>
                    </div>
                    <div class="row">
                        <div class="ui primary button">Staffs <i class="users icon"></i> </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="organization" style="background-color: #ffffff">
        <div class="container" id="SSCContainer">
            <div class="feature alternate ui stripe vertical segment">
                <div class="ui three column center aligned  relaxed unstackable grid container">
                    <div class="row">
                        <div class="column"></div>
                        <div class="column">
                            <img class="ui large image" src="{% static 'intro/image/sponsors.png' %}">
                        </div>
                        <div class="column"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="langin-footer" style="background-color: #4f20b5">
        <div class="ui two column center aligned divided very relaxed stackable grid container">
            <div class="row">
                <div class="column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.9179536820648!2d51.34940431525942!3d35.70363658018915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00a8bc1a7e63%3A0x61a5a909b878501!2sSharif+University+of+Technology!5e0!3m2!1sen!2sus!4v1516554126873" width="100%" height="350" frameborder="0" style="border: 0"></iframe>
                </div>
                <div class="column">
                    <a class="ui large blue label" href="https://t.me/aichallenge">
                         Telegram <i class="telegram icon"></i>
                    </a>
                    <a class="ui large pink label" href="https://www.instagram.com/aichallenge/">
                         Instagram<i class="instagram icon"></i>
                    </a>
                    <a class="ui large blue label" href="https://twitter.com/aichallenge">
                         Twitter<i class="twitter icon"></i>
                    </a>
                    <a class="ui large blue label" href="https://www.linkedin.com/showcase/sharif-ai-challenge/">
                         Linkedin <i class="linkedin icon"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}