{% extends 'base/full-width.html' %}

{% load static i18n %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block extra_header %}
    <link rel="stylesheet" href="{% static 'intro/css/stylesheet.css' %}">
{% endblock %}

{% block container %}

    <div class="odd banner section">
        <img class="banner text image{% if LANGUAGE_BIDI %} bidi{% endif %}"
             src="{% static 'intro/image/banner-text.png' %}">
    </div>

    <div class="even section" id="section-intro">
        <div class="ui section header">
            <a class="ui big ai button" href="#section-intro">
                {% trans 'Introduce' %}
            </a>
        </div>
        <div class="ui stackable grid container">
            <div class="two column row">
                <div class="eleven wide column">
                    <p style="font-size: 1.3em;">
                        {% blocktrans %}
                            Sharif AI Challenge is a programming competition for all who are interested in artificial
                            intelligence.<br><br>This competition is  held in two phases annually. Including an online
                            and an
                            on-site phase in which competitors will compete in teams of three in a game designed by our
                            technical team.<br><br>
                            The only pre-requisite to enter this competition is familiarity with programming using C++,
                            Java
                            or python. But obviously, knowledge of algorithmic thinking and artificial intelligence will
                            be
                            a great asset for any of the participating teams. The registration for online competition is
                            free.
                        {% endblocktrans %}
                    </p>
                    <a class="ui massive animated violet button">
                        <div class="visible content">
                            {% trans 'Participate' %}
                        </div>
                        <div class="hidden content">
                            <i class="ui right arrow icon"></i>
                        </div>
                    </a>
                </div>
                <div class="five wide column">
                    <img style="height: 100%; width: 100%;" src="{% static 'images/logo.png' %}">
                </div>
            </div>
        </div>
    </div>

    <div class="odd section" id="section-prizes">
        <div class="ui section header">
            <a class="ui big ai button" href="#section-prizes">
                {% trans 'Prizes' %}
            </a>
        </div>
        <div class="ui stackable grid container" style="padding: 30px;">
            <div class="three column row">
                <div class="five wide column" style="text-align: center;">

                    <div class="image">
                        <img src="{% static 'intro/image/Cup2.png' %}">
                    </div>
                    <div class="ui horizontal divider header">
                        {% trans 'Second Place' %}
                    </div>
                    <h5 class="ui header">
                        {% trans '5 Million Tomans' %}
                    </h5>
                </div>
                <div class="six wide column" style="text-align: center;">
                    <div class="image">
                        <img src="{% static 'intro/image/Cup1.png' %}">
                    </div>
                    <div class="ui horizontal divider header">
                        {% trans 'First Place' %}
                    </div>
                    <h5 class="ui header">
                        {% trans '7 Million Tomans' %}
                    </h5>
                </div>
                <div class="five wide column" style="text-align: center;">
                    <div class="image">
                        <img src="{% static 'intro/image/Cup3.png' %}">
                    </div>
                    <div class="ui horizontal divider header">
                        {% trans 'Third Place' %}
                    </div>
                    <h5 class="ui header">
                        {% trans '3 Million Tomans' %}
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="even section" id="section-history"
         style="height: 100vh !important; background: url('{% static 'intro/image/banner-background.png' %}'); background-repeat: no-repeat; background-position: 90%;">
        <div class="ui section header">
            <a class="ui big ai button" href="#section-history">
                {% trans 'History' %}
            </a>
        </div>
        <div class="ui stackable grid container">
            <div class="two column row">
                <div class="mobile-hidden eight wide column">
                    <video preload="preload" id="video" autoplay="autoplay" loop="loop" style="width: 100%;">
                        <source src="{% static 'intro/video.mp4' %}" type="video/mp4"></source>
                    </video>
                </div>
                <div class="eight wide column" id="history-text">
                    <div class="ui fluid styled accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            {% trans 'First 3 Years' %}
                        </div>
                        <div class="content">
                            <div class="ui header">
                                برگزاری مسابقه به صورت درون دانشگاهی
                            </div>
                            هشت سال پیش پیش احساس نیاز به برگزاری یک مسابقه دانشجویی جذاب، پرهیجان در دانشکده کامپیوتر
                            نقطه سرآغازی برای مسابقات "نبرد هوش مصنوعی شریف" در سطح دانشکده بود که به همت انجمن علمی این
                            دانشکده حیات خود را آغاز کرد. دانشجویان نیز از این فرصت پیش آمده در جهت سنجش و تقویت مهارت
                            های برنامه نویسی استفاده کردند و با استقبال چشمگیر دانشجویان، " نبرد هوش مصنوعی شریف" به
                            رویدادی سالیانه تبدیل شد.
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            {% trans '4th - 6th Years' %}
                        </div>
                        <div class="content">
                            <div class="ui header">
                                با حضور تیم هایی از دانشگاه های دیگر شهر تهران
                            </div>
                            دوره چهارم مسابقه با عنوان «نبرد به زبان جاوا» معرفی شد و به دلیل اعتبار و سطح مسابقه، این
                            رویداد از مرحله ی دانشگاهی فراتر رفت و تیم هایی از دانشگاه های دیگر استان تهران در آن شرکت
                            کردند. دوره پنجم هم به همین نحو برنامه ریزی و برگزار شد که طی تمامی این دوران کیفیت، سطح و
                            روند برگزاری " نبرد هوش مصنوعی شریف" به صورت چشم گیری پیشرفت داشت. با تلاش انجمن علمی
                            دانشکده مهندسی کامپیوتر و تبلیغات گسترده نهایتا این رویداد در دوره ششم خود در سطح ملی برنامه
                            ریزی شد و به مرحله اجرا رسید تا با حضور تیمهایی از دانشگاه های تهران و خارج از تهران این
                            مسابقه رنگ و بویی ملی به خود بگیرد.
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            {% trans '7th Year' %}
                        </div>
                        <div class="content">
                            <div class="ui header">
                                پشتیبانی از زبان های برنامه نویسی ++C و پایتون
                            </div>
                            مسابقه ملی "نبرد هوش مصنوعی شریف" در هفتمین دوره‌ی خود همچنان به مسیر پیشرفت خود به خوبی
                            ادامه داد و در این زمان، به همت تیم فنی، زبان های C++ و Python هم در مسابقه پشتیبانی شدند.
                            در این دوره از "نبرد هوش مصنوعی شریف" استقبال خوبی به عمل آمد و قریب به 158 تیم از 28
                            دانشگاه کشور در مرحله غیر حضوری شرکت کردند. مستند این مسابقه از طریق این لینک قابل مشاهده
                            است.
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            {% trans '8th Year' %}
                        </div>
                        <div class="content">
                            <div class="ui header">
                                برگزاری مسابقه در سطح بین المللی
                            </div>
                            با توجه به تجربه ی موفق در برگزاری مسابقه با پشتیبانی زبان های مختلف برنامه نویسی، دوره‌ی
                            هشتم با تغییر نام به «نبرد هوش مصنوعی شریف» برگزار شد. از طرفی با پیشرفت چشمگیر آن در دوره ی
                            اخیر این رقابت دانشجویی به صورت بین المللی درآمد.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="odd section" id="section-schedule">
        <div class="ui section header">
            <a class="ui big ai button" href="#section-schedule">
                {% trans 'Schedule' %}
            </a>
        </div>
        <div class="ui container">
            <table class="ui inverted grey table"
                   style="background-color: #813800; font-size: 1.3em; text-align: center">
                <tbody>
                <tr>
                    <td>
                        {% trans 'Jan30 - Feb17' %}
                    </td>
                    <td>
                        {% trans 'Registration' %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Feb3 - Feb21' %}
                    </td>
                    <td>
                        {% trans 'Online Phaze' %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'March7 - March8' %}
                    </td>
                    <td>
                        {% trans 'Sharif On-Site Phaze' %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="even section" id="section-organizer">
        <div class="ui section header">
            <a class="ui big ai button" href="#section-organizer">
                {% trans 'Organizer' %}
            </a>
        </div>
        <div class="ui center aligned stackable grid">
            <div class="eight wide column">
                <h1 class="ui header">{% trans 'Organizer' %}</h1>
                <img class="ui centered medium image" src="{% static 'intro/image/SSC.png' %}" alt="SSC Image">
                <div class="ui horizontal divider"></div>
                <h1 class="ui header">{% trans 'Sponsors' %}</h1>
                <img class="ui centered medium image" src="{% static 'intro/image/sponsors.png' %}">
            </div>
            <div class="eight wide column">
                <h1 class="ui header">{% trans 'Location' %}</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.9179536820648!2d51.34940431525942!3d35.70363658018915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00a8bc1a7e63%3A0x61a5a909b878501!2sSharif+University+of+Technology!5e0!3m2!1sen!2sus!4v1516554126873"
                        width="80%" height="80%" frameborder="0" style="border: 0"></iframe>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
    <script src="{% static 'intro/js/scripts.js' %}"></script>
{% endblock %}