{% extends 'base/base.html' %}
{% load static %}

{% block container %}
    <div class="ui four column stackable grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Ali Asgari.jpg' %}">
                </div>
                <div class="content">علی عسگری</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Alireza Khoshghalb.jpg' %}">
                </div>
                <div class="content">علیرضا خوش قلب</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Kiarash Korki.jpg' %}">
                </div>
                <div class="content">کیارش کرکی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Mohsen Naghipour.jpg' %}">
                </div>
                <div class="content">محسن نقی پور</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Parsa Morsal.jpg' %}">
                </div>
                <div class="content">پارسا مرسل</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Sadegh Mahdavi.jpg' %}">
                </div>
                <div class="content">صادق مهدوی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Amir Hossein Estiri.jpg' %}">
                </div>
                <div class="content">امیر حسین استیری</div>
            </div>
            <div class="ui fluid card">
        </div>
    </div>
{% endblock %}