{% extends 'base/base.html' %}
{% load static %}

{% block container %}
    <div class="ui four column stackable grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
        </div>
                <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/staffs/exmaple_staff.png' %}">
                </div>
                <div class="content">علی احمدی</div>
            </div>
        </div>
    </div>
{% endblock %}