{% extends 'base/base.html' %}
{% load static %}

{% block container %}
    <div class="ui four column stackable grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Ali Asgari.jpg' %}">
                </div>
                <div class="content">علی عسگری</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Alireza Khoshghalb.jpg' %}">
                </div>
                <div class="content">علیرضا خوش قلب</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Kiarash Korki.jpg' %}">
                </div>
                <div class="content">کیارش کرکی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Mohsen Naghipour.jpg' %}">
                </div>
                <div class="content">محسن نقی پور</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Parsa Morsal.jpg' %}">
                </div>
                <div class="content">پارسا مرسل</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Sadegh Mahdavi.jpg' %}">
                </div>
                <div class="content">صادق مهدوی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Amir Hossein Estiri.jpg' %}">
                </div>
                <div class="content">امیر حسین استیری</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">محمد رسول قاسمی مفرد</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">امیر حسین عاصم یوسفی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">ایمان غلامی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">مجید گروسی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Female_Avatar.jpg' %}">
                </div>
                <div class="content">سیده یاسمین طباطبایی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">مهدی قربانی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Female_Avatar.jpg' %}">
                </div>
                <div class="content">کیمیا حمیدیه</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">کیارش گل زردی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">علی اسدی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">محمد مهدی فاریابی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">احسان سلطان آقایی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">مصطفی قدیمی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">محمد امین عیسایی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">روح الله سکالش فر</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">علیرضا ظهری</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">پرهام قاسملو</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">مهدی جوانمردی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">حمید هاشمی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">پویا شطی</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">آرین تاجمیر ریاحی</div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">پارسا عالیان</div>
            </div>
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static 'intro/image/Male_Avatar.jpg' %}">
                </div>
                <div class="content">سروش عمران پور</div>
            </div>
        </div>
    </div>
{% endblock %}