{% extends "base/base.html" %}
{% load static i18n %}

{% block container %}

    <div class="ui grid center aligned" style="margin-top: 50px;">

        <div class="ui top attached small tabular menu" >
		  <a class="item active" onclick="changeGroup(1)" id="menu_item_1">گروه برنده ها</a>
		  <a class="item" onclick="changeGroup(2)" id="menu_item_2">گروه بازنده ها</a>
		</div>

		<div class="ui bottom attached segment" id="bracket_1">
            {% block winner %}
                {% include "scoreboard/bracket_winner.html" %}
            {% endblock %}
		</div>
		<div class="ui bottom attached segment" style="display:none;" id="bracket_2">
            {% block looser %}
                {% include "scoreboard/bracket_looser.html" %}
            {% endblock %}
		</div>

    </div>

    <script>
	function changeGroup(x) {

		var x1 = document.getElementById("bracket_1");
		var x2 = document.getElementById("bracket_2");

		var c1 = document.getElementById("menu_item_1");
		var c2 = document.getElementById("menu_item_2");

		switch (x) {
			case 1:
				x1.style.display = "block";
				x2.style.display = "none";

				c1.className = "item active";
				c2.className = "item";
				break;
			case 2:
				x1.style.display = "none";
				x2.style.display = "block";

				c1.className = "item";
				c2.className = "item active";
				break;
			default:

		}

	}
	</script>

{% endblock %}