{% extends "base" %}


<div class="round layer1">
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game cont">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game cont">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game cont">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game cont">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game cont">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
    <div class="bracket-game cont">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
</div>

<div class="connectors layer2">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

</div>

<div class="round layer2">
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

    <div class="layer2_top_space"></div>

    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

    <div class="layer2_top_space"></div>

    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

    <div class="layer2_top_space"></div>

    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

    <div class="layer2_top_space"></div>

    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

    <div class="layer2_top_space"></div>

    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

    <div class="layer2_top_space"></div>

    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

    <div class="layer2_top_space"></div>

    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
</div>

<div class="connectors layer3">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="layer3_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="layer3_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="layer3_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

</div>


<div class="round layer3">
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

    <div class="layer3_top_space"></div>

    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

    <div class="layer3_top_space"></div>

    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

    <div class="layer3_top_space"></div>

    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">3</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>
</div>

<div class="connectors layer4">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="layer4_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

</div>

<div class="round layer4">
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

    <div class="layer4_top_space"></div>

    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

</div>

<div class="connectors layer5">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

</div>

<div class="round layer5">
    <div class="bracket-game">
        <div class="player bot win">
            <div class="ui red image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Friends
                <div class="detail" style="float:right;">0</div>
            </div>
        </div>
        <div class="player bot loss">
            <div class="ui green image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                Enemies
                <div class="detail" style="float:right;">1</div>
            </div>
        </div>
    </div>

</div>
