{% load static i18n %}

<div class="bracket">

<div class="round loser_layer_1">

    {% for match in lose_matches.0 %}
        <div class="bracket-game">
            <div class="player bot loss">
                <div class="ui {{match.part2.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part2.name}}
                    <div class="detail" style="float:right;">{{match.part2.score}}</div>
                </div>
            </div>
            <div class="player bot win">
                <div class="ui {{match.part1.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part1.name}}
                    <div class="detail" style="float:right;">{{match.part1.score}}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="connectors loser_layer_2">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer2_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

</div>

<div class="round loser_layer_2">
    {% for match in lose_matches.1 %}
        <div class="bracket-game">
            <div class="player bot loss">
                <div class="ui {{match.part2.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part2.name}}
                    <div class="detail" style="float:right;">{{match.part2.score}}</div>
                </div>
            </div>
            <div class="player bot win">
                <div class="ui {{match.part1.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part1.name}}
                    <div class="detail" style="float:right;">{{match.part1.score}}</div>
                </div>
            </div>
        </div>

{#        <div class="loser_layer2_top_space"></div>#}

    {% endfor %}
</div>

<div class="connectors loser_layer_3">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer3_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer3_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer3_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

</div>


<div class="round loser_layer_3">

    {% for match in lose_matches.2 %}
        <div class="bracket-game">
            <div class="player bot loss">
                <div class="ui {{match.part2.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part2.name}}
                    <div class="detail" style="float:right;">{{match.part2.score}}</div>
                </div>
            </div>
            <div class="player bot win">
                <div class="ui {{match.part1.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part1.name}}
                    <div class="detail" style="float:right;">{{match.part1.score}}</div>
                </div>
            </div>
        </div>

        <div class="loser_layer3_top_space"></div>

    {% endfor %}
</div>

<div class="connectors loser_layer_4">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer4_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer4_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer4_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

</div>

<div class="round loser_layer_4">

    {% for match in lose_matches.3 %}
        <div class="bracket-game">
            <div class="player bot loss">
                <div class="ui {{match.part2.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part2.name}}
                    <div class="detail" style="float:right;">{{match.part2.score}}</div>
                </div>
            </div>
            <div class="player bot win">
                <div class="ui {{match.part1.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part1.name}}
                    <div class="detail" style="float:right;">{{match.part1.score}}</div>
                </div>
            </div>
        </div>

        <div class="loser_layer4_top_space"></div>

    {% endfor %}
</div>

<div class="connectors loser_layer_5">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer5_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>


</div>

<div class="round loser_layer_5">

    {% for match in lose_matches.4 %}
        <div class="bracket-game">
            <div class="player bot loss">
                <div class="ui {{match.part2.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part2.name}}
                    <div class="detail" style="float:right;">{{match.part2.score}}</div>
                </div>
            </div>
            <div class="player bot win">
                <div class="ui {{match.part1.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part1.name}}
                    <div class="detail" style="float:right;">{{match.part1.score}}</div>
                </div>
            </div>
        </div>

        <div class="loser_layer5_top_space"></div>

    {% endfor %}
</div>

<div class="connectors loser_layer_6">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

    <div class="loser_layer6_connector_space"></div>

    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

</div>

<div class="round loser_layer_6">

    {% for match in lose_matches.5 %}
        <div class="bracket-game">
            <div class="player bot loss">
                <div class="ui {{match.part2.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part2.name}}
                    <div class="detail" style="float:right;">{{match.part2.score}}</div>
                </div>
            </div>
            <div class="player bot win">
                <div class="ui {{match.part1.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part1.name}}
                    <div class="detail" style="float:right;">{{match.part1.score}}</div>
                </div>
            </div>
        </div>

        <div class="loser_layer5_top_space"></div>

    {% endfor %}
</div>

<div class="connectors loser_layer_7">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

</div>

<div class="round loser_layer_7">

    {% for match in lose_matches.6 %}
        <div class="bracket-game">
            <div class="player bot loss">
                <div class="ui {{match.part2.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part2.name}}
                    <div class="detail" style="float:right;">{{match.part2.score}}</div>
                </div>
            </div>
            <div class="player bot win">
                <div class="ui {{match.part1.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part1.name}}
                    <div class="detail" style="float:right;">{{match.part1.score}}</div>
                </div>
            </div>
        </div>

        <div class="loser_layer7_top_space"></div>

    {% endfor %}
</div>

<div class="connectors loser_layer_8">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>

</div>

<div class="round loser_layer_8">

    {% for match in lose_matches.7 %}
        <div class="bracket-game">
            <div class="player bot loss">
                <div class="ui {{match.part2.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part2.name}}
                    <div class="detail" style="float:right;">{{match.part2.score}}</div>
                </div>
            </div>
            <div class="player bot win">
                <div class="ui {{match.part1.color}} image mini label" style="float:left; text-align:center; margin-right:0px; min-width:98px;">
                    {{match.part1.name}}
                    <div class="detail" style="float:right;">{{match.part1.score}}</div>
                </div>
            </div>
        </div>

        <div class="loser_layer5_top_space"></div>

    {% endfor %}
</div>

</div>