{% extends "base/base.html" %}
{% load static i18n %}

{% block extra_header %}
<link rel="stylesheet" href="{% static 'css/style_tables.css' %}">
{% endblock %}


{% block container %}
<h2>{% trans 'Scoreboard' %}</h2>
{% for table in tables %}
<table class="ui red center aligned selectable unstackable table" style="margin-bottom:20px;">
    <thead>
    <tr>
        <th colspan="5">{{ table.name }}</th>
    </tr>
    <tr>
        <th class="collapsing">{% trans 'Rank' %}</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Wins' %}</th>
        <th>{% trans 'Loses' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for competitor in table.league_scoreboard %}
    <tr>
        <td>
            <div class="ui green label">{{ competitor.rank }}</div>
        </td>
        <td>{{ competitor.name }}</td>
        <td>{{ competitor.win_num }}</td>
        <td>{{ competitor.lose_num }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tr>
    <tr>
        <td colspan="5">
            ‌{% include 'scoreboard/single_matches_table' %}
        </td>
    </tr>
    </tfoot>
</table>
{% endfor %}

{% endblock %}

