{% extends "base/base.html" %}
{% load static i18n %}

{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/style_tables.css' %}">
{% endblock %}


{% block container %}

        <table class="ui red selectable unstackable table" style="margin: 50px;">
            <thead>
            <tr>
                <th>{% trans 'Team' %}</th>
                <th>{% trans 'Score' %}</th>
                <th>{% trans 'Wins' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for scores in league_scoreboard %}
                <tr>
                    <td>{{ scores.1 }}</td>
                    <td>{{ scores.2 }}</td>
                    <td>{{ scores.3 }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>گروه 1</th>
                <th></th>
            </tr>
            </tfoot>
        </table>

    </div>

{% endblock %}