{% extends "base/base.html" %}
{% load static i18n %}

{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/style_tables.css' %}">
{% endblock %}


{% block container %}
    <div id="table1">
        <table class="ui red selectable unstackable table">
            <thead>
            <tr>
                <th>تیم</th>
                <th>برد ها</th>
                <th>امتیاز</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Apples</td>
                <td>200</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>گروه 1</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="table2">
        <table class="ui blue selectable unstackable table">
            <thead>
            <tr>
                <th>تیم</th>
                <th>برد ها</th>
                <th>امتیاز</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Apples</td>
                <td>200</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>گروه 2</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="table3">
        <table class="ui green selectable unstackable table">
            <thead>
            <tr>
                <th>تیم</th>
                <th>برد ها</th>
                <th>امتیاز</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Apples</td>
                <td>200</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>گروه 3</th>
                <th></th>
            </tr>

            </tfoot>
        </table>
    </div>
    <div id="table4">
        <table class="ui yellow selectable unstackable table">
            <thead>
            <tr>
                <th>تیم</th>
                <th>برد ها</th>
                <th>امتیاز</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Apples</td>
                <td>200</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>310</td>
                <td>120</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>گروه 4</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}