{% load static i18n %}

{% if table.id %}
    <a onclick="$('#results_{{ table.id }}').toggle(300)"><i class="ui eye icon"></i>{% trans 'View/Hide Games' %}</a>
    <br>
{% endif %}
<table class="ui center aligned table" id="results_{{ table.id }}" {% if table.id %}style="display: none;"{% endif %}>
    {% for single_match in table.single_matches %}
        {% if single_match.status == 'done' %}
            <tr>
                {% if single_match.winner == single_match.match.part1 and single_match.match.status != 'waiting' %}
                <td>
                    <a class="ui yellow circular label">
                        <i class="icon large star"></i>
                        {% trans 'Winner'%}
                    </a>
                </td>
                <td>{{ single_match.match.part1_name }}</td>
                <td>VS</td>
                <td>
                    <a class="ui grey circular label">
                        <i class="icon large star"></i>
                        {% trans 'Loser'%}
                    </a>
                </td>
                <td>{{ single_match.match.part2_name }}</td>
                {% elif single_match.winner == single_match.match.part2 and single_match.match.status != 'waiting' %}
                <td>
                    <a class="ui grey circular label">
                        <i class="icon large star"></i>
                        {% trans 'Loser'%}
                    </a>
                </td>
                <td>{{ single_match.match.part1_name }}</td>
                <td>VS</td>
                <td>
                    <a class="ui yellow circular label">
                        <i class="icon large star"></i>
                        {% trans 'Winner'%}
                    </a>
                </td>
                <td>{{ single_match.match.part2_name }}</td>
                {% else %}
                <td>
                    <a class="ui blue circular label">
                        <i class="icon large star"></i>
                        {% trans 'Unknown'%}
                    </a>
                </td>
                <td>{{ single_match.match.part1_name }}</td>
                <td>VS</td>
                <td>
                    <a class="ui blue circular label">
                        <i class="icon large star"></i>
                        {% trans 'Unknown'%}
                    </a>
                </td>
                <td>{{ single_match.match.part2_name }}</td>
                {% endif %}

                <td>{% trans 'In ' %} {{ single_match.map.name }}</td>
                <td>
                    {% if single_match.log %}
                    <a class="ui label"
                       href="{% url 'game:game viewer' %}?log_url={{ single_match.log.name }}&first_team={{ single_match.match.part1_name|urlencode }}&second_team={{ single_match.match.part2_name|urlencode }}">{% trans 'View' %}</a>
                    {% else %}
                    <div class="ui label">{{ single_match.status }}</div>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>