{% load i18n %}
<div class="ui list">
  {% for comment in comments %}
  <div class="item">
    {% with entry=comment.content_object %}
        <div >
            <i class="comment icon"></i>
            {{ comment.name }} {% trans 'in' %}
            <a href="{{ entry.get_absolute_url }}#comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"
                title="Comment on {{ entry.title }}">
                {{ entry.title }}
            </a>
        </div>
    {% endwith %}
  </div>
  {% empty %}
  <li>
    {% trans "No comments yet." %}
  </li>
  {% endfor %}
</div>
