{% load comments i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<form class="ui form" style="margin-{% if LANGUAGE_BIDI %}right{% else %}left{% endif %}: 0px;"  action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}
        <div><input type="hidden" name="next" value="{{ next }}"/></div>
    {% endif %}

    {% for field in form %}
        {% if field.is_hidden %}{{ field }}{% endif %}
    {% endfor %}


    {% if form.name.errors %}{{ form.name.errors }}{% endif %}
    <p
            {% if form.name.errors %} class="error"{% endif %}
            {% ifequal form.name.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ form.name.label_tag }} {{ form.name }}
    </p>

    {% if form.email.errors %}{{ form.email.errors }}{% endif %}
    <p
            {% if form.email.errors %} class="error"{% endif %}
            {% ifequal form.email.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ form.email.label_tag }} {{ form.email }}
    </p>


    {% if form.url.errors %}{{ form.url.errors }}{% endif %}
    <p
            {% if form.url.errors %} class="error"{% endif %}
            {% ifequal form.url.name "honeypot" %} style="display:none;"{% endifequal %}>
        {# {{ form.url.label_tag }} #} {{ form.url }}
    </p>

    {% if form.title.errors %}{{ form.title.errors }}{% endif %}
    <p
            {% if form.title.errors %} class="error"{% endif %}
            {% ifequal form.title.name "honeypot" %} style="display:none;"{% endifequal %}>
        {# {{ form.title.label_tag }} #} {{ form.title }}
    </p>


    {% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
    <p
            {% if form.comment.errors %} class="error"{% endif %}
            {% ifequal form.comment.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ form.comment.label_tag }} {{ form.comment }}
    </p>

    <p class="submit">
        <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}"/>
        {#        <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}"/>#}
    </p>
</form>

{# excuse me for this tof #}
<script>
    document.getElementsByName("{{ form.email.name }}").forEach(function (value) { value.value="{{ request.user.email }}"; });
    document.getElementsByName("{{ form.name.name }}").forEach(function (value) { value.value="{{ request.user.get_full_name }}" });
    document.getElementsByName("{{ form.title.name }}").forEach(function (value) { value.style="display:none;"; });
    document.getElementsByName("{{ form.url.name }}").forEach(function (value) { value.style="display:none;"; });
</script>

