{% extends 'base/darkbg.html' %}

{% load static i18n %}

{% block container %}
    <form method="post" class="ui inverted form " style="margin:auto;width: 90%">

        <h3 class="ui dividing header">{% trans 'Login' %}</h3>
        {% csrf_token %}

        <div class="field ">
            <label>{% trans 'Username' %}</label>
            {{ form.username }}
        </div>

        {% if form.username.errors %}
            <div class="ui message error">
                <strong>{{ form.username.errors }}</strong>
            </div>
        {% endif %}

        <div class="field ">
            <label>{% trans 'Password' %}</label>
            {{ form.password }}
        </div>

          {% if form.non_field_errors|length %}
            <div class="ui red message">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="ui inverted teal button">{% trans 'Login' %}</button>
        <button type="button" onclick="location.href='/accounts/signup'" class="ui inverted teal button">{% trans 'Register' %}</button>

        <p>
            <a class="ui  link" href="{% url 'password_reset' %}"><span
                    style="color: #009D8A">{% trans 'I forgot my password' %}</span></a>
        </p>
    </form>


{% endblock %}