{% extends 'base/base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Sign Up' %}{% endblock %}

{% block container %}
    <div class="ui inverted segment" style="border-radius: 30px;margin: auto;">
    <form method="post" class="ui inverted form error" style="margin:auto;width: 90%">
        {% if form.non_field_errors|length %}
            <div class="ui red message">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
            </div>
        {% endif %}
        {% csrf_token %}
        <h3 class="ui dividing header">{% trans 'SignUp Form' %}</h3>
        <div class="field required">
            <label>{% trans 'Username' %}</label>
            {{ form.username }}
        </div>
        <div class="ui message" style="color:#009D8A">
            <ul class="list">
                <p>{{ form.username.help_text|safe }}</p>
            </ul>
        </div>
        {% if form.username.errors %}
            <div class="ui message error" style="font-weight:bolder;color:#ED1A3A;">
                <strong>{{ form.username.errors }}</strong>
            </div>
        {% endif %}

        <div class="two fields">
            <div class="field required">
                <label>{% trans 'First Name' %}</label>
                {{ form.first_name }}
            </div>
            <div class="field required">
                <label>{% trans 'Last Name' %}</label>
                {{ form.last_name }}
            </div>
        </div>

        <div class="three fields">
            <div class="field required">
                <label>{% trans 'College/School' %}</label>
                {{ form.organization }}
            </div>
            <div class="field required">
                <label>{% trans 'Phone Number' %}</label>
                {{ form.phone_number }}
            </div>
             <div class="field required">
                <label>{% trans 'Age' %}</label>
                {{ form.age }}
            </div>
        </div>

        {% if form.organization.errors %}
            <div class="ui message error" style="font-weight:bolder;color:#ED1A3A;">
                <strong>{{ form.organization.errors }}</strong>
            </div>
        {% endif %}
        {% if form.phone_number.errors %}
            <div class="ui message error"style="font-weight:bolder;color:#ED1A3A;">
                <strong>{{ form.phone_number.errors }}</strong>
            </div>
        {% endif %}
       {% if form.age.errors %}
            <div class="ui message error"style="font-weight:bolder;color:#ED1A3A;">
                <strong>{{ form.age.errors }}</strong>
            </div>
        {% endif %}

        <div class="field required">
            <label>{% trans 'Email' %}</label>
            {{ form.email }}
        </div>
        {% if form.email.errors %}
            <div class="ui message error" style="font-weight:bolder;color:#ED1A3A;">
                <strong>{{ form.email.errors }}</strong>
            </div>
{#            <ul class="ui message error" style="font-weight:bolder;color:#ED1A3A; ">#}
{#                {% for error in form.email.errors %}#}
{#                    <li><strong>{{ error|escape }}</strong></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        {% endif %}

        <div class="field required">
            <label>{% trans 'Password' %}</label>
            {{ form.password1 }}
        </div>
        {#      <div class="ui message">#}
        {#          <p>{{ form.password1.help_text|safe }}</p>#}
        {#      </div>#}
        {% if form.password1.errors %}
            <ul class="ui message error" style="font-weight:bolder;color:#ED1A3A;">
                {% for error in form.password1.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="field required">
            <label>{% trans 'Password Confirm' %}</label>
            {{ form.password2 }}
        </div>
        {% if form.password2.errors %}
            <ul class="ui message error" style="font-weight:bolder;color:#ED1A3A;">
                {% for error in form.password2.errors %}
                    {{ error|escape }}
                {% endfor %}
            </ul>
        {% endif %}

        <div class="field">
            {{ form.captcha }}
        </div>
        {% if form.captcha.errors %}
            <div class="ui message error" style="font-weight:bolder;color:#ED1A3A;">
                {{ form.captcha.errors }}
            </div>
        {% endif %}



        <button type="submit" class="ui inverted teal button" style="font-weight: bolder">{% trans 'SignUp' %}</button>
    </form>
    </div>
{% endblock %}

